[2022-07-20 03:46] tellyworth opened #1 "Syncing content between local dev, staging, and production"
A key assumption for this project is that some of the design will be implemented in WordPress content, rather than in code (like Kelly's front-page-in-the-editor experiment).

We'll need a way to sync and share this kind of content in several ways:

- Between developers who are working on separate local dev environments
- From this repo to a staging site on w.org, prior to going live
- From the st

[2022-07-20 03:55] tellyworth opened #2 "Visual diff testing in the local environment"
Is it feasible and worthwhile for us to implement a snapshot/visual diff regression test suite in the local environment using something like jest-image-snapshot?

The main use cases I can see are:
* Detecting external regressions (especially unexpected changes caused by Gutenberg updates)
* Detecting regressions across multiple pages (I fix a bug on Page A, it breaks something on Page B)

Note tha

[2022-07-20 05:07] dd32 commented on #2
For testing locally, https://github.com/garris/BackstopJS seems to work rather well on a mac.

Single-command, run it to generate a before image, make adjustments (code, or plugin updates) and it loads a browser page with screenshots at all the resolutions you've defined of the URLs you've defined, and offers a visual-diff of the changes.

[2022-07-20 05:08] tellyworth commented on #1
Some possibilities for the first part, syncing content during early development, not exhaustive:

* Commit and edit content in text files, and have a script to import them into post content as part of the build process.
* Just start by putting everything in theme template files, and move parts of it into post content later.

[2022-07-20 05:34] StevenDufresne commented on #2
For use case #1, I'm not certain if a local version would provide much value because of package lock files. As developers, we tend to not update packages frequently. We could manually keep track of 3rd party updates and updating plugins for regression-specific testing, but at that point, I think we might as well just manually update and run a sanity check.

For use case #2, I think it makes more s

[2022-07-20 16:58] ryelle commented on #2
Core has some code for local regression testing with `jest-image-snapshot`: https://github.com/WordPress/wordpress-develop/tree/trunk/tests/visual-regression

Puppeteer can also take screenshots - I use this sometimes when reviewing core tickets, to take before & after screenshots. I end up writing custom scripts for each flow because I usually need to test something different each time, but the g

[2022-07-20 18:01] ryelle commented on #1
I was thinking about something like this for hacky translation support, but it would also help keep the content synced… What if we had a set of PHP files that contain the block content + i18n functions, like this:

[code]

Could we use something like the filter approach used in [pattern translations](https://github.com/WordPress/pattern-directory/blob/6b7601f39815e3071a42ac1d6683e9e56eb0b773/publi

[2022-07-20 20:29] ryelle opened #4 "Templates for github issues & PRs"
Like pattern directory: https://github.com/WordPress/pattern-directory/tree/trunk/.github

[2022-07-20 20:33] ryelle opened #5 "Downloads: Add structured data in block theme"
This code is currently added in the `page-download.php` template directly, so it'll need to be moved somewhere else in the theme.

[Source of current code.](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-main/page-download.php#L69)

[2022-07-20 20:35] ryelle opened #6 "Handle jetpack featured images"
This code is in the page templates (maybe all of them?)

If it's something we need, it should be ported to the new theme.

[code]

[2022-07-20 20:37] ryelle opened #7 "SEO: Add meta descriptions to block theme"
These are defined [in code](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-main/inc/page-meta-descriptions.php).

Maybe these can be managed in WordPress itself now?

If they need to stay in code, make sure they're ported to the theme.

[2022-07-20 20:42] ryelle opened #8 "Pattern: Download button"
Do we need a custom block for the download button, or can it be a regular button block?

Is it a static link (always `https://wordpress.org/latest.zip`) or do we need to add the version/timestamp/SHA/etc to it? In `wporg-main`, the URL is dynamic, but that's because it can be updated to point to the locale-specific build.

Current mockup:

<img width="597" alt="Screen Shot 2022-07-20 at 4 38 44 PM

[2022-07-20 20:49] ryelle opened #9 "Block: Randomized hosts"
⚠️  This design is not final, we might show all hosts and if so, wouldn't need a random block.

On [the live page](https://wordpress.org/download/), there are 2 hosts displayed but these shuffle between 4 possible hosts.

Each host has a name, description, logo, and URL. The logo is not currently used in this mockup.

Current mockup:

<img width="1186" alt="Screen Shot 2022-07-20 at 4 48 28 PM" sr

[2022-07-20 20:55] ryelle opened #10 "Create a shortcode for `WP_MARKET_SHARE`"
This is a single defined constant that provides the current WP market share (ex, 43%). In `wporg-main`, this is used to build strings, so that they don't need to be re-translated every time the percentage changes. It also keeps the value defined in one place, so we don't end up with 40% in one place, and 43% in another.

[code]

How should we handle this for content entered in the block editor?

[2022-07-20 21:36] ryelle opened #11 "Block: Language detection banner"
If your browser indicates that you use languages other than English, you get a little banner telling you that WordPress can be downloaded in those languages too.

<img width="924" alt="Screen Shot 2022-07-20 at 5 15 43 PM" src="https://user-images.githubusercontent.com/541093/180083571-f6331a48-878b-489a-83c4-15b2823738d5.png">

And in the mockup

<img width="672" alt="Screen Shot 2022-07-20 at 5

[2022-07-20 21:55] ryelle opened #12 "Small screen layout & typography"
This is not a specific issue, but something to pay attention to. GB doesn't let you set different spacing or font size based on screen sizes (though I remember an issue about this, so we should confirm), so getting this to look nice on smaller screens will probably require CSS.

I've added the "Needs design" label since we can't do anything here until there is a finished mockup 🙂

[2022-07-20 22:02] ryelle opened #13 "Block sections with offset background color"
The mockup uses this pattern where a background color is slightly offset from its container. Rather than try to play with margins, we can use a linear gradient with a hard stop — see [this pattern for an example](https://wordpress.org/patterns/pattern/two-images-with-shared-colored-strip/).

<img width="1466" alt="Screen Shot 2022-07-20 at 5 57 16 PM" src="https://user-images.githubusercontent.com

[2022-07-20 22:26] ryelle opened #14 "Front page template & `index-wporg.php`"
[The `front-page.php` file explains](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-main/front-page.php#L4) that this template not used on `wordpress.org`.

[code]

Is this still true?

If so, maybe we can use a similar syncing method for this file as we do for syncing the global header & footer to the trac template repo?

[2022-07-21 00:03] tellyworth commented on #2
This sounds promising, I agree though that it's probably not a high priority yet. It could wait till we have more in place and are thinking about rolling out more changes.

[2022-07-21 00:19] tellyworth commented on #2
PS I could see a manually triggered script being useful generally on sandboxes: compare before and after updating a plugin or testing someone's patch for deploy.

[2022-07-21 02:02] dd32 commented on #14
No. This is no longer the case, I've removed the reference from the file, see above.

[2022-07-21 02:02] #14 closed

[2022-07-21 07:35] tellyworth commented on #1
We could use php files or similar for initial work if that'll accelerate things. But yeah it'd need to be temporary since we want things editable in WP before launch. Maybe starting with it in post content is the right approach. For some things using patterns could help, since they can be registered from text.

I have a PR mostly done for Learn that might fill in a gap here: https://github.com/Wor

[2022-07-21 07:40] tellyworth commented on #10
Could we do this with a few super-simple server side blocks? That basically just run your code snippet, or similar to it.

[2022-07-21 07:46] tellyworth opened #15 "How do we handle translation?"
In the context of the front page and download pages:

* How does this relate to Rosetta?
* Which parts of those pages (if any) need to be translated via GlotPress?
* Is there content that should be translated outside GlotPress (eg by separate pages on Rosetta sites)?
* What translation mechanisms are we using in code? (see https://github.com/WordPress/wporg-main-2022/issues/1#issuecomment-11905891

[2022-07-21 16:27] #4 closed

[2022-07-22 02:39] dd32 commented on #10
IMHO; for the initial release I would just use an inline shortcode.

It looks like "tokens" will be shortcodes-v2 which would likely be the proper solution in future. https://github.com/WordPress/gutenberg/pull/42015

[2022-07-22 08:01] tellyworth commented on #1
I've set up a staging site at https://wordpress.org/main-test/, added the theme to svn and set up a sync script.

That Learn PR is just about ready to use here, will add a copy to this repo next as a plugin.

[2022-07-22 14:53] ryelle commented on #10
I agree. If we want to make it easier for editors we could add a toolbar button/dropdown like #16 to insert these, but spending too much time here doesn't make much sense if a core solution is on the way.

[2022-07-25 06:24] StevenDufresne commented on #12
I [relied on clamping](https://github.com/WordPress/wporg-gutenberg/blob/a581f9b983f3f469cad78e9bd701d9a6317c51e4/source/wp-content/themes/wporg-gutenberg/theme.json#L62) for typography to get it working for the `/gutenberg` page. It worked but was definitely tricky.

We could also wrap the group block to set up a [styled-system-like](https://styled-system.com/responsive-styles) interface for layo

[2022-07-25 15:21] ryelle commented on #12
This is the PR for fluid font size, looks like it just merged last week - https://github.com/WordPress/gutenberg/pull/39529. It's not in place for any other property yet.

Clamping values works in the editor for typography, but I've had trouble with that for padding/margins - the editor expects those values to be static numbers, not custom properties or clamp strings, so it doesn't render it corre

[2022-07-25 22:10] ryelle commented on #10
Renamed & moved this to "to do" since it sounds like we have a path forward.

[2022-07-26 02:06] StevenDufresne opened #17 "How do we handle assets & environments."
While working on `/gutenberg` in the [wporg-gutenberg repo](https://github.com/WordPress/wporg-gutenberg) I ran into pains moving assets around to all the environments.

Since changes were being made directly in the post content, moving the post content around led to improperly linked image URLs. I was repeatedly updating absolute paths and manually uploading new assets. It wasn't a great workflow

[2022-07-26 07:19] tellyworth commented on #1
I made a PR here to add the server-side part to mu-plugins. That'll make it available in any sites that need it.

https://github.com/WordPress/wporg-mu-plugins/pull/227

Will add a second PR for the import script in the new theme.

[2022-07-26 23:24] adamwoodnz commented on #13
The [latest designs](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=753%3A11640) don't show this style anymore so I'll park this but leave it open in case things change again.

[2022-07-27 03:37] dd32 commented on #15
In an ideal world, we'd launch this for both en_US (wordpress.org/) and for all locales (xx.wordpress.org/) at the same time. However, we've got no existing successful deployments where we're translating a Block-Editor-built page, other than minimal proof-of-concepts.

IMHO, all visible text on the page should be translated via GlotPress. There are alternatives which might make sense in the future

[2022-07-27 04:32] dd32 commented on #15
The remaining question here however is the timeline for when that is, I'm personally not too sure what the timeline we should be aiming for here is. It depends on how soon we should expect an upstream-Gutenberg-native-translation option to be available, and/or when we have a more-than-proof-of-concept post translation plugin available.

I think it's fair to say, for expectation purposes for others

[2022-07-27 08:06] tellyworth opened #20 "main.sh sync script is failing"
**Describe the bug**
The bin/sync/main.sh script in the dotorg repo doesn't work.

It gets to the diff part, but doesn't display a diff. I haven't gone beyond that point because I don't want to commit something mangled.

I've probably done something dumb in copy-pasting the script but I'm not sure how to debug it. I took out the build part because the child theme has nothing to build.

[2022-07-27 08:38] dd32 commented on #20
Turned out that we were piping diffs through `less -RFS`, `-F` is `--quit-if-one-screen` which would skip displaying a diff if it fit on one screen.

Hadn't been run into because most diffs included JS/CSS changes, which never fit on a single screen.

It might've been needed for some purpose, @iandunn might know.

I fixed a few other small issues around the sync scripts while I was looking at it.

[2022-07-27 08:38] #20 closed, assigned to dd32

[2022-07-27 21:18] tobifjellner commented on #15
Simple option: Some way to see the diff between current version of a page and some previous version, so that a translator can know what has changed and update the localized version accordingly.

[2022-07-27 21:36] tellyworth commented on #15
If we're translating everything via GlotPress, that essentially means that Rosetta as it currently exists is being made redundant, right? It would still exist for pages handled by the old theme, but the new pages wouldn't exist separately as independent posts on Rosetta sites?

What would the mechanism look like for handling that in Rosetta? Some code that says "if this is a block theme page, swit

[2022-07-27 22:02] ryelle opened #23 "Remove spacing between sections"
The main blocks on [the front page](https://wordpress.org/main-test/) have a default margin-block-start (top) of 24px, but this should be zero.

| Mockup | Website |
|--------|--------|
| <img width="1045" alt="" src="https://user-images.githubusercontent.com/541093/181380113-d6074b2c-969b-48c9-bc93-ad4c08f68875.png"> | <img width="1045" alt="" src="https://user-images.githubusercontent.com/541093

[2022-07-27 22:07] ryelle opened #24 "Add presets for big headings on homepage"
There are two font sizes of heading on the homepage, 120px (with line-height of 1) and 50px (with line-height of 1.2). Currently they need to be entered as "custom" size, but for ease of future editing, should be preset sizes. Maybe using the `clamp` feature for responsive sizing.

[2022-07-27 22:45] tellyworth commented on #15
Would it make sense to get that WIP code into a repo as a plugin, and set up some unit tests so we can work out the bugs?

[2022-07-28 00:42] dd32 commented on #15
Requiring manual edits to pages in order to keep them in sync is not ideal at all, and not something I want to encourage at all on WordPress.org. In the past, too many pages would remain stale for years causing outdated information to be in search engine indexes. Due to WordPress.org using `hreflang` tags now, rosetta pages are returned in searches in preference to the en_US homepage, so we don't

[2022-07-28 01:35] dd32 commented on #15
I'll try to get a PR up on WordPress/wordpress.org with some of the code I have locally today.

[2022-07-28 05:12] tellyworth commented on #2
#19 adds manually triggered backstopjs tests. Basically:

1. `yarn backstop:reference` to create snapshots
2. change something
3. `yarn backstop:test` to see what changed

[2022-07-28 05:13] tellyworth commented on #2
I'll close this as done. If we decide to roll out some kind of CI workflow that can be a separate issue.

[2022-07-28 05:13] #2 closed

[2022-07-28 05:43] dd32 commented on #15
The draft PR is up here: https://github.com/WordPress/wordpress.org/pull/90

After throwing a bunch of code at it, this is in a much better state than I anticipated. I still believe we should target rosetta roll out for after the en_US launch though.

[2022-07-28 05:50] tellyworth commented on #15
Nice! Let's see if we can loop in Team Orbit to help with that one - cc @akirk.

[2022-07-28 06:39] dd32 commented on #17
Most of the existing images are stored in `https://s.w.org/images/home/` and are not actually uploads.

We might be able to stick with that for now, and in the future look at enabling site-uploads to be served via the CDN as well where required.

[2022-07-28 07:01] dd32 commented on #15
As mentioned [here](https://make.wordpress.org/design/2022/07/27/project-update-wordpress-org-homepage-and-download-page-mockups/#comment-26547) by @tobifjellner:

I'm not sure how this will work for RTL, flipping the design, can the re-arrangements for RTL be done purely through CSS? or are we going to end up with a situation where we need to re-order column blocks?

[2022-07-28 07:10] akirk commented on #15
While not ideal, I could see us using custom transforms before rendering for RTL languages (i.e. `preg_replace()` per page and language).

[2022-07-28 07:24] dd32 commented on #9
The [latest mockup](https://make.wordpress.org/design/2022/07/27/project-update-wordpress-org-homepage-and-download-page-mockups/) has removed the individual Hosts callouts from the Downloads page, and replaced it with a link to the Hosting page instead.

Seems like this block can be left until the Hosting page gets a refresh.

[2022-07-28 07:26] dd32 commented on #8
It seems like the immediate needs here can be solved by a shortcode, rather than a custom block. See #10 + #27.

A custom pre-defined button block with the shortcodes (and later tokens) wouldn't be out of the question though to simplify the editing experience.

[2022-07-28 09:02] dd32 commented on #15
If absolutely required, yeah, that's an option we'd have. I'm hopeful that we'd be able to resolve it using CSS though.

The main reason I say that I hope CSS will do it, is that we'll need to support non-developers updating copy (and potentially design) through the Block Editor - Those changes won't necessarily be made with translations, let alone RTL translations, in mind. Using code-level trans

[2022-07-28 14:27] ryelle commented on #1
@tellyworth Anything else need to be done here, or can we close this issue?

[2022-07-28 14:33] iandunn commented on #20
🤔 I'm not sure. It looks like it existed since the initial commit, so there's no explicit message about it.

It should still display the diff, though, and just quit automatically _after_ the output has been printed. i.e., it should behave like `svn diff | cat` in that case, rather than not displaying it at all. I would think the `svn diff...` line in the script would still print to `STDOUT`, but m

[2022-07-28 14:36] ryelle opened #28 "Headings and body text need font family controls"
Headings are EB Garamond, and body text is Inter. These are set in the `theme.json`. In a few cases, elements in the mockup use the opposite font though, so we need to be able to control that somehow.

This should be a heading, but it's using the body font.
<img width="753" alt="Screen Shot 2022-07-28 at 10 33 46 AM 1" src="https://user-images.githubusercontent.com/541093/181553010-2f72f80c-5553-4

[2022-07-28 14:51] ryelle commented on #28
Headings do have a font family control, so it's just paragraphs that need something.

<img width="300" alt="Screen Shot 2022-07-28 at 10 51 05 AM" src="https://user-images.githubusercontent.com/541093/181567299-680b520e-4f19-43a5-bb14-362da0ac4ce7.png">

[2022-07-28 17:03] ryelle opened #29 "Block Style: List of links"
This should be possible with [a block style](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-styles/) to add a class to the List block, and the content in the list block is just a list of links.

| Mockup | Current staging site |
|----------|---------|
| <img width="387" alt="Screen Shot 2022-07-28 at 12 58 02 PM" src="https://user-images.githubusercontent.com/541093/

[2022-07-28 17:12] ryelle opened #30 "Arrow in CTA links is converted to emoji"
In some links (the CTA style text links), the link text includes an arrow icon. The mockup uses the `↗` character, but on the staging site WordPress is converting it to ↗️  (oops, so does github).

| Mockup | Staging site |
|---------|---------|
| <img width="293" alt="" src="https://user-images.githubusercontent.com/541093/181596539-095a982a-0f90-43d2-9964-198dee60a40f.png"> | <img width="212" al

[2022-07-28 17:21] ryelle opened #31 "Block: Create a News block to show latest posts"
The homepage has a section with 3 latest posts from News. We can't control the RSS feed block to get this exact content, so let's spin up a quick block here.

It should show a configurable number of posts (1-10, default to 3), with title, category, and date. In the future, we might want to configure specific categories to pull from, for now we can just pull the latest.

The "View All" link (in the

[2022-07-28 19:53] ryelle commented on #8
I think we could create a pattern that uses the shortcodes, rather than a custom block, so editors can just drop the pattern in place.

[2022-07-28 22:52] ryelle opened #32 "Block style: Feature list with animation"
This is a list of items (in the future these will be links). The text is oversized and positioned below the baseline, but on hover it animates up and darkens. See [the Releases page on News for an example](https://wordpress.org/news/category/releases/).

Note: the default color will be updated to pass AA color contrast.

<img width="661" alt="Screen Shot 2022-07-28 at 6 47 36 PM" src="https://user

[2022-07-28 23:49] StevenDufresne commented on #17
Silly question, how do they get there?

[2022-07-29 00:26] StevenDufresne commented on #12
I thought of an idea, not sure how good/bad it is:

https://github.com/WordPress/wporg-parent-2021/pull/16/files#r932771232

[2022-07-29 05:43] tellyworth commented on #1
Let's close this one, we can open a new issue if related stuff comes up.

[2022-07-29 05:43] #1 closed

[2022-07-29 06:07] StevenDufresne commented on #31
Looking into this.... Are you suggesting we create a block that uses RSS with our own custom layout or we create a block that makes wordpress queries?

[2022-07-29 07:29] #10 closed

[2022-07-29 08:13] dd32 commented on #17
Not Silly! Just not obvious - that's `wordpress.org/images/home` within SVN, so check `public_html/images` for more surprises :)

[2022-07-29 14:59] ryelle commented on #31
I had planned on a block that uses the REST API from News. All the data we want should be available in the public `view` context.

[2022-07-31 23:48] StevenDufresne commented on #17
So the workflow would be as simple as:

1. Commit image to SVN via sandbox
2. Use external URL in content

[2022-08-01 03:42] dd32 commented on #30
The WordPress emoji converter [will ignore any elements with the `wp-exclude-emoji` class](https://github.com/WordPress/wordpress-develop/blob/trunk/src/js/_enqueues/wp/emoji.js#L148-L157), however setting the class on either the `<a>`, `<p>`, or even the cover block, it isn't working as intended in my testing.

[2022-08-01 04:17] dd32 commented on #30
Unfortunately, I believe we'll have to disable the emoji replacement entirely if we wish to use this character (Or insert it after DOMContentLoaded).

See https://core.trac.wordpress.org/ticket/52219 for the upstream bug of why `wp-exclude-emoji` doesn't work here.

[2022-08-01 08:15] ghost opened #36 "Adding Brushstroke Backgrounds to Home Page Design"
Brushstroke shapes are an important part of the visual design of WordPress.org/News, why aren't those shapes used in the home page redesign?!

In my opinion, adding some of these design elements to the home page, in addition to making the design more beautiful, also helps to create a uniform design language across all sites.

Please see the attached screenshot
![screenshot](https://user-images.git

[2022-08-01 14:31] ryelle commented on #17
Once we have the final images, yeah. While we're still working and trying to figure out what images look good, we can upload to the main-test site and use the staging URL in content (which is how the refresh script works, anyway).

I'm pretty sure all the image blocks work with external images, so this should be fine 👍🏻

[2022-08-01 14:51] beafialho commented on #36
Thank you for your suggestion @Besyar.

The home and download page were thought out to be relatable with the News page, as seen in typography and colors, but to have their own simple and functional designs.

As more pages are eventually redesigned, we need to balance the usage of decorative elements and make pages land somewhere on the spectrum between more jazzy/expressive visuals and minimal/cle

[2022-08-01 15:05] #36 closed, assigned to nobody

[2022-08-01 21:25] ryelle commented on #24
This was done as part of https://github.com/WordPress/wporg-parent-2021/pull/18

[2022-08-01 21:25] #24 closed, assigned to ryelle

[2022-08-01 22:20] #17 closed

[2022-08-01 23:41] ryelle commented on #32
Design has been updated, the text should be #6682FF, and on hover it moves up & darkens to `blueberry-1`.

<img width="554" alt="Screen Shot 2022-08-01 at 7 40 53 PM" src="https://user-images.githubusercontent.com/541093/182262859-80e78ff3-12f2-436a-b336-3d368b56aec4.png">

[2022-08-01 23:58] ryelle commented on #12
I think now that the spacing uses presets (and therefor custom properties), we could do [something like we do for the font sizes,](https://github.com/WordPress/wporg-parent-2021/blob/trunk/source/wp-content/themes/wporg-parent-2021/sass/base/_normalize.scss#L28) and shrink them down at smaller screen sizes. I also tried out [using `clamp` for the Large spacing size](https://github.com/WordPress/wp

[2022-08-02 00:00] ryelle opened #37 "Heading with a highlight has a yellow background"
Use the "highlight" format in the toolbar dropdown to set a text color. In the editor, this looks fine, but on the frontend it has a yellow background.

<img width="1014" alt="Screen Shot 2022-08-01 at 5 22 00 PM" src="https://user-images.githubusercontent.com/541093/182264415-9e7f5320-9ddd-4d4c-b058-9aa94cfdadea.png">

[2022-08-02 00:46] azaozz commented on #30
Would it be possible to append the "Unicode Character 'VARIATION SELECTOR-15' (U+FE0E)" to that arrow? This is the official way to specify display variations, see: http://unicode.org/emoji/charts/emoji-variants.html.

In twemoji that char is used to prevent replacement with an image, see https://github.com/twitter/twemoji/blob/gh-pages/twemoji.js#L203-L206.

I know, not particularly convenient but

[2022-08-02 00:59] dd32 commented on #30
Thank you @azaozz!

I think suffixing that extra character in the copy will do for now - it's not the best option from an editing point-of-view, and might have issues with translation, but it's at least an option that doesn't require disabling emoji fallback entirely (Which we might still want to consider)

[2022-08-02 01:08] dd32 commented on #30
I've appended `&#65038;` in the HTML view to the arrow emoji.. The entity then vanished - it appears that it's been merged into the arrow character, as it's no longer being converted by twemoji as anticipated! 🎉

[2022-08-02 19:58] ryelle commented on #30
Can we filter the content to add that? so editors don't need to worry about it (and maybe it won't get sent to translators). Probably would need both to add the character to both upper-right and upper-left for eventual RTL support.

[2022-08-02 20:02] azaozz commented on #30
Yeah, probably can. But thinking it would be better to tweak/fix the JS and add these there. It would be much easier to find emojis in elements that have the `wp-exclude-emoji` class.

[2022-08-02 20:18] ryelle commented on #30
Fixing the JS would be a core fix though, right? I was asking about a filter so that we can use the arrow on the w.org site now, while waiting for the core fix.

[2022-08-02 22:52] azaozz commented on #30
Yep, you're right. My mindset is to see everything as a core bug that needs fixing, but it makes sense to patch it here in the meantime. A PHP filter would work as long as all arrow emoji are "patched". Otherwise better to do that from JS. Something like this perhaps (example code):
[code]

[2022-08-02 23:44] adamwoodnz commented on #12
The clamping for the Large size is working fairly well for my columns with CTA pattern. Seems like most of the columns in the homepage could use this too.

[2022-08-03 17:45] ryelle opened #40 "Download page: Style download modal"
~Check that the existing download modal works~ It doesn't.

Bring back the download modal, it should open after the user clicks the download button.

![Download Pop Up Message](https://user-images.githubusercontent.com/541093/182674249-16b82a45-6bd1-4612-b426-685991659ea5.png)

Also check the keyboard behavior to make sure it's accessible to keyboard-only users & screen reader users.

[2022-08-03 18:00] ryelle opened #41 "Export logo images for "inspiration" section"
The logos from this section:

<img width="1220" alt="Screen Shot 2022-08-03 at 1 49 28 PM" src="https://user-images.githubusercontent.com/541093/182675427-ae359346-e20a-42bb-81f5-32cb1c0c12d7.png">

@critterverse @beafialho @javierarce Would one of you be able to export these? I tried exporting from figma but they all came out full-white and different sizes. Ideally they'd all be the same height,

[2022-08-03 23:18] #11 closed

[2022-08-04 05:20] StevenDufresne opened #42 "Performance: Consider using WebP where applicable."
Relevant: https://make.wordpress.org/core/2021/06/07/wordpress-5-8-adds-webp-support/

[2022-08-04 05:30] adamwoodnz commented on #37
Interestingly when I configure this in the `parent` theme env, and in my local `main` theme env the `mark` element gets transparent background style automatically when highlighted:

![Screen Shot 2022-08-04 at 5 28 02 PM](https://user-images.githubusercontent.com/1017872/182769812-c4d23894-d7d2-401f-849b-72719b837c4d.jpg)

Not sure what causes the different behaviour in `main-test` site

[2022-08-04 06:59] tellyworth opened #43 "Add hreflang tags"
The new pages need `hreflang` tags as a critical SEO requirement: https://wordpress.slack.com/archives/C02QB8GMM/p1659514993386139?thread_ts=1658956086.933959&cid=C02QB8GMM

The old front page used a static list. Some context on that: https://meta.trac.wordpress.org/ticket/5108

For other pages(?) it used this quirky code: https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_ht

[2022-08-04 07:19] tellyworth opened #44 "Performance: back-end"
What back-end performance issues, current or potential, do we need to consider improving?

Server response time is the top issue raised by Lighthouse when running locally. Obviously that's affected by Docker speed. Are there any server-side issues in staging or likely in prod?

- [x] Resize images
- [x] Consider using webp (maybe? can Proton help with this?)
- [ ] Check wpdb query count
- [x] Chec

[2022-08-04 07:24] tellyworth opened #45 "Performance: front-end"
Let's put together a checklist of any front-end performance issues (current or potential) that need to be considered. We may not fix them all for initial launch, but the sooner we know about them the better.

- [x] Use webp for images
- [x] Load the download modal JS only on download page
- [x] Load the MU Latest Posts block JS in the footer
- [x] Largest Contentful Paint image was lazy loaded

[2022-08-04 07:25] tellyworth opened #46 "Translation issues for launch day?"
Is there anything i18n related that can/must be done for initial launch day?

Probably not, it's all pushed to a later milestone. But let's think it through to be sure.

[2022-08-04 08:34] javierarce commented on #41
Here are [the logos](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=1405%3A10427) in SVG format, with the same height, and a better contrast ratio: [logos.zip](https://github.com/WordPress/wporg-main-2022/files/9257704/Logos.zip).

[2022-08-04 15:47] #32 closed, assigned to ryelle

[2022-08-04 16:04] #23 closed, assigned to ryelle

[2022-08-04 16:10] #37 closed, assigned to adamwoodnz

[2022-08-04 16:11] ryelle commented on #37
Something is stripping that inline style out on save, it does exist on the main-test site if you switch to code view in the editor… oddly enough you can set it to `background-color: #f00` or `background-color: transparent` and it works, but for some reason it doesn't like `background-color: rgba(0, 0, 0, 0)`.

WP multisite installs can have some extra content sanitization, I'm sure that's what is

[2022-08-04 16:33] #30 closed, assigned to ryelle

[2022-08-04 18:14] ryelle commented on #41
Thanks! I've uploaded these to the staging site.

[2022-08-04 18:14] #41 closed, assigned to nobody

[2022-08-05 04:07] #31 closed, assigned to StevenDufresne

[2022-08-05 04:08] dd32 commented on #46
I don't think there's anything technical that needs doing for the initial english launch day.
 - Polyglots need to be informed of the timeline for the Rosetta sites
 - Ensure the new theme doesn't activate on Rosetta sites (it shouldn't, unless we tell it to)

The "WordPress is also available in..." banner is slated to be in the initial launch, and will re-use the existing server-side code, so it

[2022-08-05 04:13] tellyworth commented on #43
@dd32 am I correct in thinking that the right solution here is to port something along the lines of [`hreflang_link_attributes()`](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg/functions.php#L187) into https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/mu-plugins/pub/wporg-seo/hreflang.php?

[2022-08-05 04:22] dd32 commented on #43
I guess so, but with the catch that it must only apply to themes using one of our parent themes and that have not unhooked it.. Although looking at which themes unhook it (learn, patterns, openverse) it might be safer to simply port this into the wporg-main-2022 theme.

[2022-08-05 04:23] #7 closed

[2022-08-05 04:28] tellyworth commented on #43
Ah yeah I guess I was imagining it being unhooked by default, and only explicitly enabled by themes that need it.

[2022-08-05 05:11] dd32 commented on #44
[WordPress trunk has webp support](https://core.trac.wordpress.org/ticket/55443)

See #42

This seems good, except for some stemming from `Jetpack_PostImages`.  (Removing this query isn't super critical)

I believe that's why this filter ended up in all of the Page Templates: https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-main/page-downloa

[2022-08-05 07:54] tellyworth commented on #46
Thanks for confirming that Dion!

[2022-08-05 07:54] #46 closed, assigned to dd32

[2022-08-05 21:36] ryelle commented on #42
I haven't used webp before, so I have some questions. Are there any browser compat concerns? Do you have a program that will convert the images? Assuming it doesn't affect the quality, I don't see why we couldn't use this.

But we'll need to add a filter to enable it for multisite sites.

[2022-08-05 22:15] ryelle opened #50 "Review alt text for images on the pages"
Currently no image have alt text (I think), but they should. This needs to be written.

[2022-08-05 22:15] ryelle opened #51 "Review heading structure"
Currently:

**Homepage**

[code]

**Download**

[code]

This works, but was not done intentionally, so just looking to confirm that it's correct.

[2022-08-08 00:31] adamwoodnz commented on #45
[Desktop performance](https://pagespeed.web.dev/report?url=https%3A%2F%2Fwordpress.org%2Fmain-test%2F&form_factor=desktop) is acceptable probably, but there are 3 opportunities for improvements:

![Screen Shot 2022-08-08 at 12 26 23 PM](https://user-images.githubusercontent.com/1017872/183317396-b52104af-a5c9-47fb-b360-f2a21d4ee89c.jpg)

[Mobile performance](https://pagespeed.web.dev/report?url=ht

[2022-08-08 00:35] adamwoodnz opened #52 "Convert download modal to block"
![Screen Shot 2022-10-11 at 10 32 20 AM](https://user-images.githubusercontent.com/1017872/194955496-54740a64-f90f-4dcc-a8a0-dbc2f10d6006.jpg)

The modal on the Download page is currently custom coded:
Initialisation: https://github.com/WordPress/wporg-main-2022/blob/trunk/source/wp-content/themes/wporg-main-2022/src/download/index.js
Component: https://github.com/WordPress/wporg-main-2022/blob/tr

[2022-08-08 02:05] adamwoodnz commented on #45
I've now replaced all the large images in the front page with `.webp` versions and that opportunity has been dismissed. The scores have dropped a little, but it seems the the JS issues have more impact.

[2022-08-08 02:14] adamwoodnz commented on #45
[Download page desktop](https://pagespeed.web.dev/report?url=https%3A%2F%2Fwordpress.org%2Fmain-test%2Fdownload&form_factor=desktop) score is excellent. [Mobile](https://pagespeed.web.dev/report?url=https%3A%2F%2Fwordpress.org%2Fmain-test%2Fdownload&form_factor=mobile) shows similar issues to front page:

![Screen Shot 2022-08-08 at 2 12 54 PM](https://user-images.githubusercontent.com/1017872/183

[2022-08-08 03:54] adamwoodnz commented on #45
Gutenberg issue raised related to JS loading: https://github.com/WordPress/gutenberg/issues/43054

[2022-08-08 05:12] dd32 commented on #42
Thankfully we can update these on a per-network basis on WordPress.org, [the main network](https://wordpress.org/wp-admin/network/settings.php#upload_filetypes) and [Make network](https://make.wordpress.org/wp-admin/network/settings.php#upload_filetypes) already have webp.
[Rosetta sites don't](https://global.wordpress.org/wp-admin/network/settings.php#upload_filetypes) (but probably don't need it

[2022-08-08 05:16] adamwoodnz commented on #42
I converted and swapped out the 3 large images in the front page for webp, as Page Speed suggested it as an improvement. I think there might be a slight degradation (the tool I used didn't have any conversion settings) but the originals were huge so I think that's to be expected. Let me know what you think @ryelle. I'll do some browser checks now, but browser support looks pretty solid: https://ca

[2022-08-08 07:34] tellyworth opened #55 "Editing safety in production"
Once the site is launched, anyone editing the front page will face a situation where they can't preview their changes or save a draft, because the page is already published. Effectively they're editing "live".

How can we make that a safer environment?

Some possibilities:
* Lock the publish button and require some special process for changing the content.
* Use the https://github.com/WordPress/re

[2022-08-08 09:00] beafialho opened #57 "WP.org Styles: Minor visual improvements"
These two issues are not critical for the launch of the Home and Download pages but I'm flagging them here so we can address them eventually. These were the only things I noticed at this point, everything else is looking great.

**Paragraphs**

On the test site the paragraphs are showing a `30px` line height for me, which is correct for long blocks of text (such as blog posts and eventually other

[2022-08-08 14:29] ryelle commented on #52
I've moved this out of the current iteration since we don't need it for launch, but I do think it's a good idea for the future. There will probably be other places we'll need a content modal (for example, we have some on the Patterns site).

Tagging it Needs Design so we can work with designers to figure out the editor interface.

Probably needs a button which can toggle the modal, and then an are

[2022-08-08 17:53] #29 closed, assigned to outdoor2kode

[2022-08-08 20:19] ryelle commented on #57
I don't think there's an easy way to do this… we can only set one default line height in `theme.json`. Each paragraph's line-height could be customized in the editor? Or we could add a block style to paragraphs for "short text", but that'll also need to be swapped for all paragraphs that need it. Which do you think would be better @beafialho ?

Re buttons — the padding is correct, but the line hei

[2022-08-08 20:31] ryelle commented on #42
Looks okay to me 👍🏻

Anything else need to happen on this issue, or can we close it?

[2022-08-08 22:21] adamwoodnz opened #58 "Performance: only load modal scripts on Download page"
The Download page modal script uses Gutenberg Modal which loads the entire `wordpress/components` package. It is designed not to run on other pages however this dependency is loaded regardless.

For now we can't load only the code for the Modal so as a workaround we want to only load this script on the Download page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your local home page

[2022-08-08 23:14] adamwoodnz commented on #42
Not sure, is there any more network config required or are we good @dd32 ?

[2022-08-09 03:17] dd32 commented on #42
I think we're good to close.

The only concern I can see there being is if we need back-compat support for non-webp-enabled browsers. That's a followup issue if it is determined to be a problem after launch though IMHO.

[2022-08-09 03:17] #42 closed, assigned to adamwoodnz

[2022-08-09 03:38] adamwoodnz commented on #57
This reads to me like these small texts are the exception and the default should be 30px as currently set. I'll add a small text paragraph option to my PR for feedback, just to get something rolling while we wait for a response.

[2022-08-09 05:54] dd32 commented on #55
Another option would be a staging site, that way edits and testing can be made before publishing/pushing to the main site.

That might not be as desirable as it then requires tooling to push changes from staging to production, but that's the general way other large sites would handle content edits I think?

[2022-08-09 09:24] beafialho commented on #57
I think it's definitely better to use a block style for short text (do you think this term is intuitive? I'm afraid it can be mistaken by small text which has a smaller font size). Having that block style define would help avoid having several different line heights by mistake while editing.

[2022-08-09 14:02] ryelle commented on #57
I think it's understandable enough, I wouldn't confuse it with "small" personally, but we can change the display name later if it's confusing.

Good point 👍🏻

[2022-08-09 14:28] #57 closed, assigned to adamwoodnz

[2022-08-09 14:46] #58 closed, assigned to nobody

[2022-08-09 14:52] ryelle commented on #45
@adamwoodnz or @renintw  Can you put together a checklist of any items that still need to be done?

[2022-08-09 14:55] ryelle commented on #57
These fixes have been deployed to the `main-test` site, and I've applied the new short-text block style to all the paragraphs. @beafialho how's it look now?

[2022-08-09 16:33] beafialho commented on #57
It looks perfect @ryelle, thanks!

[2022-08-09 21:23] ryelle commented on #12
I was using the same ID on this page as on the download page, which caused some style bleed. I swapped out the arrow pattern for the new pattern + block style, and updated the ID for the download page section (https://github.com/WordPress/wporg-main-2022/commit/17f5ace957b42913efd3c8da6c0a1e405cc754b0), so it looks better now:

<img width="396" alt="Screen Shot 2022-08-09 at 5 21 14 PM" src="https

[2022-08-09 21:23] #12 closed

[2022-08-09 21:37] adamwoodnz commented on #45
Lighthouse scores are very good now, only Download page on mobile is below 90:

| Desktop | Mobile |
|--------|--------|
| ![Screen Shot 2022-08-10 at 9 30 28 AM](https://user-images.githubusercontent.com/1017872/183766129-67ab88c1-c703-488e-8e47-c0416d9c2b3f.jpg) | ![Screen Shot 2022-08-10 at 9 31 57 AM](https://user-images.githubusercontent.com/1017872/183766168-dad21830-f66b-45e2-bdc9-c6304a72c

[2022-08-09 22:30] ryelle commented on #45
The homepage should stop loading `lodash` once GB 13.9 comes out, it looks like `wp-element` is the only dependant, and the lodash dep has been removed last week (https://github.com/WordPress/gutenberg/pull/42898).

I just made a quick PR to move the latest posts code into the footer: https://github.com/WordPress/wporg-mu-plugins/pull/245 — I'm not sure how much that helps in reality, since some o

[2022-08-09 22:36] adamwoodnz commented on #45
Just loading that up now to see how much effect it has. There is a ticket for enqueuing block scripts in the footer https://core.trac.wordpress.org/ticket/54018

[2022-08-09 23:49] adamwoodnz commented on #45
Merged https://github.com/WordPress/wporg-mu-plugins/pull/245 so this is largely mitigated. `react-dom` is still loaded in the `head` and flagged as render blocking. There are other smaller GB scripts which don't get flagged.

[2022-08-10 05:23] tellyworth commented on #44
What about CDN use for images and other assets? I mention it here because the solution might be some back-end filtering of URLs. Or Photon.

[2022-08-10 06:01] tellyworth commented on #44
[wporg-main](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-main/functions.php#L142) and various other themes use a `script_src()` function that filters enqueued scripts and stylesheets to point them at the CDN. We could do that.

How do you think we should handle media files?

[2022-08-10 08:20] tellyworth commented on #44
Oh, I see Dion is way ahead of me: https://github.com/WordPress/wporg-mu-plugins/pull/173

[2022-08-10 09:11] ocean90 commented on #55
Similar to Revisions Extended is the Rewrite and Republish feature from [Duplicate Post](https://wordpress.org/plugins/duplicate-post/).

[2022-08-10 15:19] ryelle commented on #45
That would be tracked in #44

Could look into how core adds these attributes, I found a dev note about [skipping X images from being lazy-loaded](https://make.wordpress.org/core/2021/12/29/enhanced-lazy-loading-performance-in-5-9/). That could be the answer or it could point us in the right direction.

[2022-08-10 15:42] ryelle opened #61 "Add and configure Analytics"
We need some stats for the new theme. Likely tasks:

- [x] Grant GA/tag manager access to the right people
- [ ] Review the Google Analytics config for the old home page/main site
- [ ] Set up some new events and whatever might be needed in GA
- [ ] Make sure the new front page has GA code loaded efficiently

What else? Can Marketing folks handle most of that, if we grant access?

[2022-08-10 15:55] thetinyl commented on #51
@ryelle Confirming that this looks correct! Thanks.

[2022-08-10 16:00] thetinyl commented on #50
@ryelle Alt text has now been added for all images. Listing them below by section just to double-check I haven't missed any.

**Homepage**

- Powerful and empowering section: sample styles image
- Millions of possibilities section: company logos and showcase gallery image
- Community section: WCEU group photograph
- What's new in WP section: social media icons (just Twitter and FB, will the others

[2022-08-10 16:13] iandunn commented on #50
Aside: IIRC, there was some discussion a few years ago about Gutenberg requiring `alt` text to be entered when publishing/updating. That was declined b/c it'd be too heavy-handed for the entire userbase, but it may be something we want to do on w.org. It's easy for folks to forget or not know that they should add them.

[2022-08-10 16:41] #51 closed, assigned to thetinyl

[2022-08-10 17:03] ryelle commented on #50
These are great, thanks @thetinyl

There are still some cases where there are decorative images (like the background image of "Dream it, build it") which should be empty. I don't think we need to do anything about this right now, but that could be added in the future.

[2022-08-10 17:03] #50 closed, assigned to thetinyl

[2022-08-11 01:06] dd32 commented on #44
Handling media files probably needs some work to make work well. To CDN them we'd need to have the site its' for in the URL path.

Ideally, we'd probably rewrite media urls to a specific cdn domain, something like:
`https://u.w.org/example.wordpress.org/2022/08/example.jpg` (ie. `https://u.w.org/{Site}/{path}`).

The other option, would be something like.. `https://s.w.org/wp-content/blogs.dir/{Si

[2022-08-11 01:48] tellyworth commented on #44
Let's do two things, one now and one later.

### An immediate solution for launch

~~Commit and deploy image assets~~
~~Manually edit the content (and styles?) to point at CDN versions of those.~~

### A sustainable ongoing solution

- [ ] Get a decision from Systems about CDN urls, rewriting or whatever
- [ ] Test and deploy a plugin that transparently CDN-izes all media URLs.

Does that sound re

[2022-08-11 02:19] dd32 commented on #44
Due to how WordPress handles srcset, which we've currently got on the background images, as part of committing the image assets we'd loose that functionality. These minimal assets will be cached heavily by the load balancers I expect, so we might not need to move these to the CDN as a matter of urgency (although it would help with performance)

[2022-08-11 02:21] tellyworth commented on #44
Got it. Ok, in that case let's forget about the sooner part and make a plan for the ongoing solution.

[2022-08-11 05:34] tellyworth commented on #44
On DB queries: I noticed on the staging site that some pageviews have Cavalcade queries. Is that specific to the staging site or would it happen on the live site too? Can/should we bypass that on front page views?

[2022-08-11 06:32] #43 closed, assigned to tellyworth

[2022-08-11 07:52] tellyworth opened #63 "Launch day tasks"
What exactly needs to be done in order to launch the site?

- [x] Import all media files from main-test to the real site
- [x] Update patterns to use the local media files & IDs
- [x] Deploy the 2022-theme-switcher.php plugin, activated on the main site
- [x] (maybe) Merge #72
- [x] (maybe) Merge #75
- [x] Merge #81
- [x] Launch: activate the block theme.

[2022-08-11 07:58] tellyworth commented on #63
I think this will work to import all the files:

`wp --url=wordpress.org media import --post_id=POSTID wp-content/blogs.dir/721/files/2022/0*/*`

..where POSTID is the ID of the new Front Page.

[2022-08-11 08:17] tellyworth commented on #55
As a crude option: what if we had two "front page" pages, identical copies. One is set to the front page, the other is private.

When updating the page, you edit the private "staging" post. Preview that, make sure all is good. Then copy your edits to the live post.

In an emergency, you could make the private post public and switch it to the front page, while you recover the other.

This is far fr

[2022-08-11 19:57] #40 closed, assigned to adamwoodnz

[2022-08-11 20:33] critterverse opened #65 "Mobile: Update button height"
Let's reduce the button height on mobile to be 56px. This has been updated in the [WordPress.org Design Library](https://www.figma.com/file/HOJTpCFfa3tR0EccUlu0CM/WordPress.org-Design-Library?node-id=101%3A2079) and the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767) for the homepage and Download page designs.

[2022-08-11 20:35] critterverse opened #66 "Homepage: change type treatment for the large headline at the top of the page"
Where it says, "WordPress: Publish your passion" — let's italicize the word "passion" and make it the same black color as the rest of the text. This has been updated in the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767).

[2022-08-11 20:39] critterverse opened #67 ""One platform" section: Increase spacing"
Let's increase the spacing between the text, the logos, and the CTA. This has been updated in the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767).

[2022-08-11 20:41] critterverse opened #68 "Homepage News section: Visually align the top of the headline (left) and posts (right)"
Let's add a top margin to make the top of the post list optically aligned with the headline. This has been updated in the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767).

[2022-08-11 20:44] critterverse opened #69 "Download page: Add more bottom padding to the top section"
Let's add 40px additional spacing to the bottom of the "Get WordPress" section at the top of the page. This has been updated in the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767).

[2022-08-11 21:43] ryelle opened #70 "Update the embed image on the homepage"
Currently this is hardcoded to be an image that exists on the current site, but won't exist on the new page. This should be updated to some other image.

![](https://s.w.org/images/home/screen-themes.png?3)

https://github.com/WordPress/wporg-main-2022/blob/9b4e4f3e1e142645499a411d20b15601a4bd11e9/source/wp-content/themes/wporg-main-2022/inc/page-meta-descriptions.php#L44

cc @critterverse @javier

[2022-08-12 02:49] dd32 commented on #44
This is a shortcoming of Cavalcade and the WP Cron system, while these queries are cached, the cache is short lived and difficult to cache for significant time without side effects.

By disabling those queries, we'd have further queries being made to insert cron entries, or, updating options. We could filter `wp_next_scheduled()` and return a timestamp in the future for all crons checked for the h

[2022-08-12 06:35] dd32 commented on #55
Given the changes in #64, this isn't as urgent now, although maybe a staging site whose edits can be pushed to the static templates would be a reasonable edit flow.

[2022-08-12 09:46] beafialho commented on #70
Here it is @ryelle. It's in the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=1672%3A18514) too.

![wporg_embed_image](https://user-images.githubusercontent.com/65220155/184329441-e632bd05-89c2-492c-8df8-4f752c544bf5.png)

[2022-08-12 14:42] #65 closed, assigned to ryelle

[2022-08-12 15:04] thetinyl opened #74 "Homepage "Dream it, build it" section: Update body copy and CTA link text"
Can we replace the body copy underneath the "Dream it, build it" headline to read:

The "Explore the editor" link text will also need to be updated with:

Both have been updated in the [Homepage copy document](https://docs.google.com/document/d/1mpCwMgeHOhRE_z7JlEjqpCLEXmQVTiDXAtj8wxUvssI/edit#).

[2022-08-12 15:06] #66 closed, assigned to ryelle

[2022-08-12 15:06] #67 closed, assigned to ryelle

[2022-08-12 15:06] #68 closed, assigned to ryelle

[2022-08-12 15:19] #70 closed, assigned to nobody

[2022-08-12 15:26] #69 closed, assigned to ryelle

[2022-08-12 15:45] #74 closed, assigned to ryelle

[2022-08-12 16:11] ryelle commented on #61
The GTM code is still loaded on the new pages, it's added by [an `mu-plugin` here](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/mu-plugins/pub/wporg-google-tag-manager.php). Waiting to hear if anything (code-wise) needs to be changed before launch.

Update: No, removing this from the launch board.

[2022-08-12 16:14] ryelle commented on #44
Moving this out of the launch board, if anything still needs to be tweaked we can do that after launch.

[2022-08-12 19:03] critterverse opened #76 "Download page: Add hover color to white navigation bar"
Can we add a hover color of #F6F6F6 on the white version of the navigation bar? This color should appear in all the instances where the #1C2024 color appears on the dark header.

<img alt="1320px" src="https://user-images.githubusercontent.com/77359364/184425849-c2b160ba-2022-4389-abb5-575617f79051.png">

[2022-08-12 21:45] ryelle opened #77 "Gutenberg browser compatibility issue"
https://github.com/WordPress/gutenberg/discussions/39621

https://github.com/WordPress/wporg-mu-plugins/issues/159

[2022-08-14 10:36] StevenDufresne opened #78 "Content is not centered when browser doesn't support CSS4 selectors."
**Describe the bug**
Similar to issue we saw with the navigation, the `group` block also uses `:where` and `:not`.

**For Example:**
When this is missing, the content is not centered.
[code]

### Example
**OS**: Catalina
**Safari**: 13.1

<img width="1704" alt="Screen Shot 2022-08-14 at 7 32 54 PM" src="https://user-images.githubusercontent.com/1657336/184532981-b76f6046-47f0-4d4b-93eb-b39e8d77aed

[2022-08-15 03:02] #45 closed, assigned to adamwoodnz, outdoor2kode

[2022-08-15 03:18] dd32 opened #79 "No automatically generated excerpt"
**Describe the bug**
While testing #75 I discovered that since the content was moved from the editor, to the VCS-tracked pattern files, that WordPress no longer generates an excerpt for the pages.

This results in no description in the Opengraph tags, and no embed template text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wordpress.org/download/ with the new theme activated

[2022-08-15 03:22] dd32 commented on #79
For now, I've set the page excerpt to that of the existing downloads page `Download WordPress today, and get started on creating your website with one of the most powerful, popular, and customizable platforms in the world.` as the auto-generated-from-pattern-data excerpt wasn't amazing: `Get WordPress Everything you need to set up your site just the way you want it. Download and install yourself F

[2022-08-15 04:28] adamwoodnz opened #80 "Download modal not working with theme switcher"
The download modal isn't working when the page is loaded at https://wordpress.org/download/?new-theme=1 when it was working at https://wordpress.org/main-test/download/

This is due to the [initialization code](https://wordpress.org/download/?new-theme=1) requiring the `body` to have class `page-template-page-download`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wordpress.

[2022-08-15 06:31] #80 closed, assigned to adamwoodnz

[2022-08-15 06:36] #5 closed

[2022-08-15 06:49] tellyworth commented on #79
This sort of affects the front page too, except that it has some code to fall back to a [default description](https://github.com/WordPress/wporg-main-2022/blob/trunk/source/wp-content/themes/wporg-main-2022/inc/page-meta-descriptions.php#L36).

Setting an excerpt on post pages seems like a fair solution for now.

Is there a saner way, going forward? If the content existed both in the post content

[2022-08-15 06:53] dd32 commented on #79
It doesn't look like it, based on my comment above.

I suspect this is a case where we should really just be forced to define the except for all hard-coded pattern pages, but I'm not sure how to do that.

If we're not going to use `post_content` as **the** source-of-truth for the page content, we probably shouldn't rely upon `post_excerpt` for the description either.. although it's acceptable for-

[2022-08-15 07:21] tellyworth commented on #63
Launching the new theme to the public is a simple matter of activating the block theme in wp-admin on the main site.

[2022-08-15 14:41] ryelle commented on #6
We ended up adding this in #62.

[2022-08-15 14:41] #6 closed

[2022-08-15 15:41] ryelle commented on #63
Launched ✅  🎉

[2022-08-15 15:41] #63 closed, assigned to nobody

[2022-08-15 17:54] thetinyl opened #83 "Download page: Minor copy update for "Download and install" section"
This isn't an urgent issue.

Could the subhead copy in this section be updated to:

(Just adding the "it".)

[2022-08-15 22:16] adamwoodnz opened #84 "SEO-related suggestions for some links on the updated Homepage"
In order to avoid the unintentional 301 redirect from, e.g., https://wordpress.org/download to https://wordpress.org/download/, these links should have a trailing slash added:

1. The first “Get WordPress” blue button in content
2. “Explore the WordPress Editor ↗︎” text link
3. “Find inspiration” blue button

[2022-08-15 22:21] adamwoodnz commented on #84
From https://wordpress.slack.com/archives/C02QB8GMM/p1660601348901569

[2022-08-16 03:39] dd32 opened #85 "Localised Code Is Poetry footer colours wrong"
**Describe the bug**
As seen below, the code is poetry footer on test.wordpress.org is the wrong colour.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to test.wordpress.org
2. Observe unreadable Code is Poetry footer.

**Expected behavior**
A clear and concise readable phrase

**Screenshots**

<img width="1683" alt="Screen Shot 2022-08-16 at 1 36 24 pm" src="https://user-images.githubus

[2022-08-16 06:13] tellyworth commented on #55
Yep I think that's the way to go. And could turn out to be a really useful workflow. Something like:

* We set up a staging site, or a special plugin on the main site.
* Make sure the post content is a current copy of the patterns.
* Copy and design edits are made on that site, with preview to confirm that it looks right in-situ.
* When edits are ready, we use `yarn setup:refresh` to fetch the lat

[2022-08-16 14:11] ryelle opened #87 "Community photo has wrong grey color"
![color](https://user-images.githubusercontent.com/541093/184900936-7bf96136-f31b-40b2-9456-3a7b77c533cd.gif)

New photo, will need to be optimized/converted to webp, make sure the color doesn't change.
<img width="1321" alt="Community Photo" src="https://user-images.githubusercontent.com/541093/184900970-e614a154-9d5e-4749-946f-1c2f8c72ea7b.png">

[2022-08-16 14:13] ryelle opened #88 "Editor photo is not high-resolution"
<img width="477" alt="Screenshot 2022-08-15 at 18 26 58" src="https://user-images.githubusercontent.com/541093/184901248-77ad4009-82e1-4b9f-8c10-bcf6bd2a8c1f.png">

New image, will need to be optimized/converted to webp.
<img width="1320" alt="Editor" src="https://user-images.githubusercontent.com/541093/184901363-3db95119-6bd0-4892-9ddf-c52b36533d53.png">

[2022-08-16 21:02] annezazu opened #90 "Community image on mobile is blurry"
**Describe the bug**

Community photo is blurry on mobile

**To Reproduce**
View homepage on mobile device (iphone SE2) and see community section

**Screenshots**
![IMG_2079](https://user-images.githubusercontent.com/26996883/184984672-ad5f9397-6989-44e7-9dc8-fc6416c8d381.PNG)

**Smartphone (please complete the following information):**
 - Device: iPhone SE 2
 - Browser: Safari

[2022-08-16 21:34] ryelle commented on #90
I can reproduce this in Chrome's mobile preview.

This might be fixed by #89, since we're swapping out this image for a higher-resolution version.

[2022-08-17 03:33] #83 closed, assigned to outdoor2kode

[2022-08-17 07:18] outdoor2kode opened #92 "Preload fonts to avoid initial layout shift"
Ref: https://wordpress.slack.com/archives/C02QB8GMM/p1660634455683169?thread_ts=1658956086.933959&cid=C02QB8GMM

There's an initial layout shift because the fonts we use usually don't exist in users' locals,
the text would be rendered with local fonts first and then changed to network fonts after they are downloaded.

|  Before | After |
|--------|-------|
| <img width="1726" alt="image" src="http

[2022-08-17 10:03] javierarce opened #94 "Add missing links to the download page"
We forgot linking to several important pages from the download page:

- https://wordpress.org/download/releases
- https://wordpress.org/download/beta-nightly
- https://wordpress.org/download/counter
- https://wordpress.org/download/source

We've updated [the designs](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=970%3A9767) to add them under the download links

[2022-08-17 10:34] #84 closed, assigned to outdoor2kode

[2022-08-17 11:36] outdoor2kode opened #95 "Reduce the fonts file size"
Ref: https://wordpress.slack.com/archives/C02QB8GMM/p1660640323188989?thread_ts=1658956086.933959&cid=C02QB8GMM

The fonts files seem larger than usual, let's see if we can reduce their sizes.

<img width="896" alt="image" src="https://user-images.githubusercontent.com/18050944/185104496-c5b867b0-bc8c-4b85-899a-cf11a6214f6d.png">

[2022-08-17 15:23] #87 closed, assigned to ryelle

[2022-08-17 15:23] #88 closed, assigned to ryelle

[2022-08-17 15:43] ryelle commented on #94
@javierarce Right now, we can't easily change the font size of this from desktop to mobile — should it be 12px or 14px? Or should we update the small text behavior to switch to 14px on small screens?

[2022-08-17 15:53] ryelle commented on #90
Looks like this was fixed by #89.

[2022-08-17 15:53] #90 closed, assigned to nobody

[2022-08-17 16:00] javierarce commented on #94
Let's go with 14px for both then, since 12px is too small for mobile.

I think this won't be necessary, but pinging @beafialho in case she feels the links are too big on the desktop and we need to adjust it.

[2022-08-17 16:05] beafialho commented on #94
I agree, let's go with 14px.

[2022-08-17 16:45] ryelle commented on #95
The fonts have already been compressed into `woff2` format.

Inter was downloaded from [the 3.19 release here](https://github.com/rsms/inter/releases/tag/v3.19), and it's `Inter Web/Inter-roman.var.woff2` & `Inter Web/Inter-italic.var.woff2`, the variable versions so that we have access to all weights.

EB Garamond was downloaded from google fonts, and the variable `ttf` files were converted into

[2022-08-17 17:12] ryelle commented on #94
Reopening because I missed the little spacer dots.

[2022-08-18 02:20] tellyworth commented on #95
What's a reasonable font file size for a page like ours to compare to? Is ~800 kb of fonts a lot or perfectly normal?

[2022-08-18 04:13] tellyworth opened #97 "Consider compressing the community image"
**Describe the bug**

`community-photo-2.webp` is 738kb, which is quite large especially for a monochrome image. I think it was probably saved with lossless compression. This is by far the biggest asset loaded on the page.

We could improve performance with minimal visible differences by using lossy compression. Here's a quick before/after created using `cwebp`:

### community-photo-2.webp origina

[2022-08-18 05:43] tellyworth commented on #97
Related: #89, #90.

[2022-08-18 06:18] jasmussen commented on #97
Nice, and just wanted to confirm that the gray color in [the compressed version](https://wordpress.org/files/2022/08/community-photo-2-q50.webp) is correct, so seems safe to swap out!

[2022-08-18 16:00] outdoor2kode commented on #95
After having more understanding of the web font, I guess because it has a great number of glyphs in `Inter` and we use the variable version so the size is normal as far as I'm concerned.

But I'm wondering do these two thoughts make sense for our scenario?
1. Serving critical font variants first, with other variants downloaded later
2. Subset the font files so that users aren't forced to download

[2022-08-18 17:37] ryelle commented on #95
Since this is a variable font, we can't separate out the variants like that. If we did switch back to non-variable, or download only 1 or 2 weights first, it wouldn't save us much. Looking at Inter, the variable font is 227KB. If we only download regular (99KB) & bold (106KB), that only saves us 22KB, and I'm not sure how many weights are actually used on the site.

It's worth trying, but these fo

[2022-08-19 17:26] ryelle opened #98 "Remove page-patterns from the editor Pattern tab"
Currently, the page patterns (Download & Front Page) are registered as patterns that can be used on the site. This is confusing, because you can put, for example, the download content on any random page. These aren't patterns in the traditional sense, so they should be removed from the user's view.

<img width="345" alt="Screen Shot 2022-08-19 at 1 25 08 PM" src="https://user-images.githubusercont

[2022-08-19 19:38] #94 closed, assigned to ryelle

[2022-08-20 00:55] tellyworth commented on #95
I found a couple of tools that might help:

https://github.com/johncf/ttf2web
https://github.com/ecomfe/fontmin

If we're removing glyphs we'll need to figure out how that affects translation too.

Sounds like it's worth trying a few quick experiments to see how much this would actually save.

[2022-08-22 03:45] adamwoodnz commented on #97
I've tried targeting 200kb using the `-size` option and it isn't too much more degraded, but I think I agree that your quality `50` result seems like the sweet spot. I'll put up a PR for that.

[2022-08-22 16:03] jasmussen opened #101 "Homepage: Try a variety of headlines to cycle through"
The homepage reads "WordPress: Publish your _passion_". Since WordPress is more than that, it would be good to see a range of options there in a rotating headline: “Publish your ______?” And we can get quirky there. Something like 3-5 good options, with the specific copy to be explored.

As a simple starting point, the headline block does not need to be interactive, and can simply surface hardcode

[2022-08-22 19:04] ryelle opened #102 "Fix lazy-loading on Community image"
The community image is not being lazy-loaded when it should be (both before and after #99). Despite being the correct ID for the uploaded media item, the URL does not match. The correct URL should be `https://wordpress.org/files/2022/08/community-photo-2-q50-scaled.webp`, note `-scaled`. We should not just swap the URL though.

The `-scaled` filename comes from `_wp_maybe_scale_and_rotate_image`.

[2022-08-22 22:35] ryelle commented on #101
In slack, we talked about swapping out the whole phrase after "WordPress" so that it would be easier to translate (thinking of languages with different word order, where this would be "your passion publish").

Accessibility-wise, it would be better to stick to one heading and let the animated ones be readable content, the suggested "Publish your passion, your diary, your […], or your […] with Word

[2022-08-23 00:12] tellyworth commented on #102
Is 2642px the best size for the original?

Looking at `https://wordpress.org/files/2022/08/community-photo-2.webp` at actual size, I see blocky JPEG artefacts in the photograph. There are no artefacts in the brushstroke effect though. I suspect a lower-resolution, lower quality jpeg was upscaled to 2642 or higher before adding the brushstrokes. Effectively we're wasting bytes faithfully reproducin

[2022-08-23 01:29] tellyworth commented on #98
Does it still make sense for the content to live in pattern files specifically? Is the solution to move them into something else like template files instead?

[2022-08-23 15:02] ryelle commented on #102
It's 2642px because the design file is 1320 wide, and this is 2x (I'm not sure where the extra pixel comes from 🤷🏻 ). In any case, we probably want to target a bit larger than the average desktop screen x 2 for high DPI screens. this article from 2011 it says [1201px – 1400px](https://css-tricks.com/screen-resolution-notequalto-browser-window/) was the most popular screen size of visitors to CSS T

[2022-08-23 15:07] ryelle commented on #98
I guess we could write directly to the template files… or template parts if we want to keep the post content separate from the header & footer. Would that affect translation at all?

[2022-08-23 16:15] #97 closed, assigned to adamwoodnz

[2022-08-23 21:03] ryelle commented on #101
I've got a basic block started using the p2 code, it looks like this:

https://user-images.githubusercontent.com/541093/186264642-f368b137-cac7-40d7-835b-d8a91a153ebb.mp4

[2022-08-24 06:40] jasmussen commented on #101
Lorem your _ipsum_ 👌

If you're feeling good on the semantic side, it seems like we have a good foundation in place. CC: @critterverse for some additional context on past explorations. Thank you @ryelle!

[2022-08-24 07:09] tellyworth commented on #79
Given #100, maybe the solution to this is to have a special block in the post/pattern that specifies the meta description. (And the excerpt, if we're using excerpts for anything other than meta desc)

[2022-08-24 07:11] tellyworth commented on #44
I think this can be closed for now, though we should follow up server-side performance in depth later.

[2022-08-24 14:32] thetinyl commented on #101
Thanks for setting this up @jasmussen!

I definitely agree with @ryelle that the whole line should be swapped. It opens up more opportunities for us to explore.

I see two possible directions here, based on the feedback received:

**Option 1: Empowerment of ideas**
This fits most in line with the original concept behind "Publish your passion". That WordPress is more than the literal things/types o

[2022-08-24 18:42] critterverse commented on #101
Nice, thanks for getting this rolling everyone!

One option we looked at in design explorations was "WordPress: your tool to _______" (build, experiment, etc).

But I like the idea of swapping the full phrase too! @thetinyl, out of the two options above, the empowerment of actions direction feels the most on brand to me although I would prefer that we use those lines _in place of_ "Pubish your pas

[2022-08-24 19:00] eidolonnight commented on #101
While I understand this sentiment, I do want to note a section from our [philosophy](https://wordpress.org/about/philosophy/) that I think should guide our decision here (emphasis is my own):

Many end users of WordPress are non-technically minded. They don’t know what AJAX is, nor do they care about which version of PHP they are using. **The average WordPress user simply wants to be able to write

[2022-08-24 19:11] thetinyl commented on #101
Honestly, I had all these variations (and even more) in draft as previous options:

Until I was looking at the Wix homepage where they use "freedom" (or very similar) a few times and it no longer felt ownable to WordPress (at least not for the homepage). 😅

[2022-08-24 19:35] jpantani commented on #101
Since the homepage is intended as a gateway for top-of-funnel visitors, it’s important to convey the WordPress brand promise which is a message of empowerment: “To provide every person and entity who wants it, a web presence and or economic enablement online,” as well as its core DNA that WordPress is a publishing platform.

I think it's a tough task to accomplish this while remaining aspirational

[2022-08-24 21:29] critterverse commented on #101
Thanks for sharing this link @eidolonnight! I agree that it makes sense to prioritize speaking to the average user who just needs to write without interruption. But it feels like by _only_ doing that, we're not really conveying the essence of the project and what makes it special. Also agree with @thetinyl about it being tricky to find a differentiating message from others making similar claims. B

[2022-08-25 15:10] #44 closed, assigned to tellyworth

[2022-08-25 15:27] critterverse opened #104 "Reconfigure the site navigation"
There's a discussion happening on the [Make Meta blog](https://make.wordpress.org/meta/2022/08/18/navigation/) as the moment about the WordPress.org site navigation being a bit of an unorganized mess.

### Current navigation:

<img width="1600" alt="current-desktop" src="https://user-images.githubusercontent.com/77359364/186693491-55f3f4bd-9662-4931-8bf8-e0ecda086370.png">

<img width="1600" alt="

[2022-08-25 15:27] critterverse opened #105 "Simplifying the wp-admin bar that appears above the site navigation"
There's a discussion happening on the [Make Meta blog](https://make.wordpress.org/meta/2022/08/18/navigation/) as the moment about the WordPress.org site navigation being a bit of an unorganized mess. Some of the issues have to do with the wp-admin bar that appears above the navigation:

- This bar duplicate the logo, showing it twice in close proximity
- The colors and styles feel different from

[2022-08-25 15:30] ryelle commented on #104
FYI, moving this & #105 to the `wporg-mu-plugins` repo since that's where the header lives.

[2022-08-25 16:55] ryelle commented on #61
It sounds like the analytics are working fine as-is. We can follow up in new issues if anything needs changing.

[2022-08-25 16:55] #61 closed, assigned to eidolonnight, StevenDufresne

[2022-08-25 21:09] ryelle commented on #79
I've added what started as a proof of concept for the block idea over in https://github.com/WordPress/wporg-mu-plugins/pull/253. It turned out better than I expected, though it doesn't do everything. I haven't put it in the milestone or asked for review since I don't know if that's the direction we want.

[2022-08-25 22:56] josephahaden commented on #101
Great discussion here, folks. What I see as a common thread in all these comments are 1) the need to speak to our many audiences and 2) the need to connect each audience to the myriad uses of WordPress.

I’m seeing words like “empowerment”, “aspirational” and “bigger than”. I am also seeing our audience words in here! Things like “self-guided” and  “every person” with some clear ties to entreprene

[2022-08-26 06:39] jasmussen commented on #101
Good thoughts all around. I would echo Channing's voice, that _openness_ feels like a value that sets apart and embodies WordPress, so worth having as a throughline. I'm also still excited about the mentions of adding a little quirkiness to balance it all out.

[2022-08-26 14:42] jasmussen commented on #101
To elaborate a bit, I appreciate in Channing's suggestions specifically the inclusion of the word "Freedom" as a key value, from the GPL itself all the way through to the ability to migrate to and from the platform. Those are values WordPress can own, but many alternatives in the space cannot.

Josepha's three suggestions very well capture the listed journeys, as well as the the conversation. Coul

[2022-08-26 16:15] thetinyl commented on #101
Thanks for your thoughts @josephahaden! The breakdown helps frame up the direction we all seem to be heading.

@jasmussen I think you're onto something with adding the "freedom" in somewhere. As much as I was uncomfortable with it as the main conceptual link, I think including it _among_ the other headlines changes its context from the way Wix uses it on their homepage. I'm not sure "Freedom to bu

[2022-08-26 16:37] #85 closed, assigned to StevenDufresne

[2022-08-26 16:38] jasmussen commented on #101
Dig your thoughts 👌

In the original idea, we could get a little quirky in a grounding sense with the "Publish your ____" variant: something to balance out potentially high-flying language. [The P2 website is a good example](https://wordpress.com/p2/) where it kind of works because there's a wider range of options it cycles through, with "collective brain" following right after "shared workspace".

[2022-08-26 17:24] ryelle commented on #102
I've increased the "big image" size in https://github.com/WordPress/wporg-main-2022/commit/b32766fd917e187c1d6afd79e8c4b6e9421bf7bd. The next step is to re-upload the image and replace the URL & ID again. Technically the editor background image also needs re-uploading, but that's not important since it shouldn't be lazy-loaded anyway.

[2022-08-26 18:28] josephahaden commented on #101
Quirky as in "casual and charming" not "weird" probably. For instance, under no circumstances should we reference lunchmeat or rats on the homepage as I shared above.  ;)

[2022-08-26 20:07] ryelle commented on #95
@renintw How's this going? Have you been able to reduce the font sizes at all?

[2022-08-28 16:42] outdoor2kode commented on #95
@ryelle, yes, it can be reduced.

The current status is that originally I used the tool [glyphhanger](https://github.com/zachleat/glyphhanger) introduced by [Inter](https://rsms.me/inter/) and tried to reduce font sizes for wp.org with the idea in the [post](https://www.zachleat.com/web/glyphhanger/) by the author of glyphhanger. The result went well, the size was reduced from 277KB to ~35KB with

[2022-08-29 04:18] tellyworth commented on #55
Now that #100 is merged, how do we get this into practical use? We could:

1. Have a staging site (main-test or a new one). That makes some things easier and safer, but would require syncing media files to prod. We could hard-code additions to the [silent theme switcher
](https://github.com/WordPress/wporg-main-2022/blob/trunk/source/wp-content/mu-plugins/theme-switcher.php) to enable editing/prev

[2022-08-30 02:52] robinwpdeveloper opened #109 "Browser Issue (Safari 14): Gap missing between Powerful and empowering section columns"
**Describe the bug**
Spacing missing for the old safari versions (14 or less).
Powerful and empowering section columns are having no spacing in between.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wordpress.org/#benefits
2. You'll see Powerful and empowering section columns are having no gap.

**Expected behavior**
Powerful and empowering section columns are having gap in o

[2022-08-30 04:42] #95 closed, assigned to outdoor2kode

[2022-08-30 05:42] hz-tyfoon commented on #109
Thanks @robinwpdeveloper for the issue.
I've checked & can confirm it exist in safari 14.

I've had a chance to investigate the issue & so far looks to me the issue is coming from 'columns block'.  'columns block' use `flex gap` which isn't supported in safari 14.

the 100px gap coming from `.wp-block-columns.wp-container-17, .wp-block-columns.wp-container-28` selector's css.

screenshot:
![Screen

[2022-08-30 18:30] iandunn commented on #78
reference for the previous time this happened

* [local issue](https://github.com/WordPress/wporg-mu-plugins/issues/159)
* [local workaround](https://github.com/WordPress/wporg-mu-plugins/pull/178)
* [upstream issue](https://github.com/WordPress/gutenberg/issues/39230)
* [upstream discussion](https://github.com/WordPress/gutenberg/discussions/39621)
* [upstream fix](https://github.com/WordPress/gu

[2022-08-30 19:12] iandunn commented on #78
I opened [an upstream issue](https://github.com/WordPress/gutenberg/issues/43723) for this, to fix the root cause. In the mean time I'll add a workaround.

[2022-08-30 20:08] ryelle commented on #109
When you add the margin like that, the columns are no longer equal widths, so that's not an ideal solution. Additionally, the CSS here is generated by the core Columns block, and we can't know that the space will always be 100px (here it is, but on other pages we might have 3 columns with 60px spacing, for example).

Since this is still technically readable, and Safari 14.1/iOS 14.5 (released in A

[2022-08-31 07:25] StevenDufresne opened #112 "Backwards compatibility for webp images."
I ran into this, while testing #111. If we are going to fix the layout for containers, we should probably do the same for these images that are rendering as broken images.

_Originally posted by @dd32 in https://github.com/WordPress/wporg-main-2022/issues/42#issuecomment-1208864423_

[2022-08-31 13:22] critterverse commented on #101
Quick update that we've been running into one issue with the implementation that's been discussed here so far in https://github.com/WordPress/wporg-main-2022/pull/107. The various headlines break into either 2 or 3 lines of text across various screen sizes and across languages in a way that's making the layout difficult to control consistenty — we haven't found a way to ensure that the content is

[2022-08-31 14:47] ryelle commented on #112
What browser were you using that they're broken? According to caniuse, [webp is pretty broadly supported](https://caniuse.com/?search=webp) except for IE11 — and I don't think we need to support IE.

[2022-08-31 14:59] thetinyl commented on #101
Thanks for the update @critterverse!

If there aren't any further spacing or line breaking issues with this alternative approach, then copy should be good to go! 👍

Even in an animated rotation, there's no guarantee that someone landing on the page wouldn't scroll/navigate away before seeing more than one headline, so they should be able to resonate independently.

[2022-08-31 22:16] StevenDufresne commented on #112
macOs: Catalina
Browser: Safari 13.1

Via BrowserStack

[2022-08-31 22:25] ryelle commented on #112
Do we have any statistics that say we need to support back to Safari 13?

My hesitation is that I don't know if there is a core/editor-supported way to provide fallbacks, so would we need to stop using `webp` entirely? The file size savings from webp were impressive, so it would be nice to keep that if we can.

[2022-09-01 00:07] StevenDufresne commented on #112
A quick look at analytics reveals:

0.6% of users are using Safari 13.X. That number inches slightly higher if we account for lesser versions. While 0.6% may feel small, it does account for a significant number of real people.

[2022-09-01 00:17] StevenDufresne commented on #112
I don't know if we need to necessarily serve a fallback image, but it should probably not look broken.

[2022-09-01 18:35] #78 closed, assigned to iandunn

[2022-09-02 16:18] #101 closed, assigned to ryelle

[2022-09-05 14:51] ryelle commented on #112
For reference, some images work and some don't (~not totally sure why, since that showcase image is theoretically a webp~ despite being `.webp`, when returned via `https://i2.wp.com/wordpress.org/files/2022/08/Showcase_2560.webp?w=2560&ssl=1` it's `content-type: image/png`).

Anyway, to get this to "readable," we need to add a background to the editor section. The missing community image is awkwar

[2022-09-06 14:16] critterverse opened #117 "Update wordpress.org/mobile page"
A new image asset has been created for the [wordpress.org/mobile page](https://wordpress.org/mobile), and this page feels like it could be a straightforward one to update to the new design at the same time. I've been added to the site as an editor and will try to log in and create this page this week 🚀

<img width="1280" alt="wporg-mobile-page" src="https://user-images.githubusercontent.com/773593

[2022-09-12 14:19] critterverse opened #120 "Fix spacing issues on wordpress.org"
Some spacing issues seem to have popped up on wp.org in the last 24-48 hours. It looks like some inline styling may be being overridden and/or a spacing variable missing:

![image](https://user-images.githubusercontent.com/77359364/189677350-76001f67-c018-4ed4-8a65-dd5a3eeac465.png)
![image (1)](https://user-images.githubusercontent.com/77359364/189677361-d633b6cf-eb24-4c1e-979b-dcb2c5f85531.png)

[2022-09-12 15:57] Otto42 commented on #120
Which spacing is wrong? I'm not particularly familiar with the new homepage, and realistically, don't see any problems with the screenshots.

So, it would help to be very specific.

[2022-09-12 16:03] critterverse commented on #120
Items like text, buttons, and sections shouldn't be flush against each other. The correct spacing can be seen in this Figma file for reference: https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=0%3A1

[2022-09-12 18:56] jeffikus commented on #120
For the hero and the Build for yourself areas, the padding seems to be overridden by !important styles coming in from I'm not sure where. For example, on the hero;

`[style*="padding-bottom:120px"] {
    padding-bottom: var(--wp--preset--spacing--80) !important;
}`

That is overriding the inline styles of the #intro div
`padding-top:120px;padding-right:0px;padding-bottom:120px;padding-left:0px`

I

[2022-09-12 20:14] adamwoodnz commented on #120
The spacing variable `--wp--preset--spacing--80` is now undefined. It should be coming from the parent theme as defined [here](https://github.com/WordPress/wporg-parent-2021/blob/trunk/source/wp-content/themes/wporg-parent-2021/theme.json#L504) as I understand it

[2022-09-13 00:54] #120 closed, assigned to nobody

[2022-09-13 00:56] adamwoodnz commented on #120
Fixed by reactivating the Gutenberg plugin. We'll put something in place to avoid it happening again.

[2022-09-13 00:58] tellyworth commented on #120
Related: https://github.com/WordPress/wporg-parent-2021/issues/45

[2022-09-13 20:34] ryelle opened #123 "Fix inline styles when using an RTL display"
See #15.

When using an RTL language, most of the alignments work out (columns is smart about it, for one 🎉). But there are places where spacing is added to the left/right and this is not switched when the language is changed. See "Powerful and empowering" heading — this is a `margin-right` that should be `margin-left` on RTL sites.

Other blocks explicitly set the text alignment, which is incorre

[2022-09-13 20:50] ryelle opened #124 "Build RTL CSS"
Check if we need to build RTL CSS from our vanilla `style.css` or block styles.

Could use a custom `postcss` config? or a custom webpack config? See https://github.com/WordPress/gutenberg/issues/29605.

See #15

[2022-09-13 20:54] ryelle commented on #15
#118 updates the pattern templates with translation functions, so that content can be translated now. https://github.com/WordPress/wporg-parent-2021/commit/732ae1bb901ec81e163d62bbb95b95cf7b8db30c adds the RTL CSS to the parent theme, so the base styles are taken care of (https://github.com/WordPress/wporg-mu-plugins/issues/269 is open to remove duplication of the parser code, and integrate any ch

[2022-09-15 03:40] #55 closed, assigned to nobody

[2022-09-15 13:50] ryelle commented on #55
@tellyworth this issue was closed automatically because I attached it to #119, so I just wanted to confirm if that should be the case. Does anything else need to happen here?

[2022-09-15 15:53] ryelle commented on #8
Closing in favor of the eventual download modal block #52

[2022-09-15 15:53] #8 closed

[2022-09-16 15:13] ryelle commented on #98
We can just add `Inserter: no` to the header. See https://github.com/WordPress/WordPress/blob/b01bafe003031285c649004d097cdec4c58642e7/wp-includes/block-patterns.php#L185-L192 & https://github.com/WordPress/twentytwentythree/blob/trunk/patterns/hidden-404.php

[2022-09-19 09:32] pablohoneyhoney opened #128 "Associate the Arrows with Navigational Groups"
The arrow should be closer to the navigational instance it’s associated to. Currently they are at an uncanny distance that creates a scattered visual effect, but also doesn't make the taxonomies clear.

<img width="709" alt="Screen Shot 2022-09-19 at 11 30 20 AM" src="https://user-images.githubusercontent.com/25516611/190989083-7e6a3b23-fbbb-435c-ad34-1bd8cd7bfa64.png">
<img width="690" alt="Scree

[2022-09-19 09:37] jasmussen commented on #128
I would agree! It looks separate at this point. Something like this, maybe?

<img width="1007" alt="Screenshot 2022-09-19 at 11 36 02" src="https://user-images.githubusercontent.com/1204802/190990093-3cc75273-8ce7-498c-ad7a-786e3be6b5a9.png">

[2022-09-19 14:49] ryelle commented on #128
We talked about this a little in https://github.com/WordPress/wporg-mu-plugins/pull/263 & https://github.com/WordPress/wporg-mu-plugins/issues/261 — the arrows need to have enough space to be touch targets (illustrated here with the focus state).

<img width="619" alt="Screen Shot 2022-09-19 at 10 44 42 AM" src="https://user-images.githubusercontent.com/541093/191045231-a9261031-2d15-485a-950f-2d3

[2022-09-19 14:51] ryelle commented on #128
Maybe there could be more_space between the menu items to make it clear the text + chevron are a unit?

[2022-09-19 20:32] #124 closed, assigned to ryelle

[2022-09-19 22:42] #9 closed

[2022-09-19 22:42] #13 closed

[2022-09-20 15:46] #117 closed, assigned to critterverse

[2022-09-20 15:47] #123 closed, assigned to ryelle

[2022-09-28 15:07] javierarce opened #129 "Download Subpages"
Here's the proposed design for the download subpages: Releases, Beta/Nightly, Source Code, Counter that @beafialho, @critterverse, and I have worked on [this file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=2093%3A22538).

I'll share the proposals for the desktop and mobile pages and mention some aspects of the design that could be categorized as 'nice to hav

[2022-09-28 15:24] ryelle commented on #129
@javierarce Just confirming next steps, since you've labelled this "needs design feedback" and "needs copy feedback" — none of this is ready to be built yet, correct?

[2022-09-28 15:38] javierarce commented on #129
Not yet, but I think it should be pretty close: I'd love to have more eyes on the designs in case we have missed anything important or in case we could refine the designs/copy a little bit.

I also like to know if those "nice to have" things I mentioned can be implemented or need to be simplified.

[2022-09-28 19:57] ryelle commented on #129
This looks good! I've responded to the nice-to-have comments and left some more technical details below. The questions I've added are for other devs with more historical background :)

**Releases**

Looking at how this is currently rendered, I think it will make the most sense to just port the existing code into one single dynamic block, to render all the headings & tables. I’m sure we can make so

[2022-09-29 00:54] dd32 commented on #129
I think some feedback might be deserved here on whether we need to link to the `IIS` builds here, AFAIK they are no longer actively used, as they were designed for a time where we submitted WordPress ZIPs to Microsoft for use in their App Installer, if I'm recalling it correctly.

We don't store that detail in code anywhere, the only data-store used for this page is the files on disk itself, which

[2022-09-29 07:44] jasmussen commented on #129
Visually this looks great to me. Tables are glancable, main text column with code font and spacing look coherent, subnavigation looks clean and consistent.

I love the full-bleed download page. We'll probably want to do something similar on this page as was done to the /mobile page, where a container is something a la 80vh tall and vertically centers the content inside, with some padding.

There's

[2022-09-29 10:04] javierarce commented on #129
We could try to do that, but we'll probably need to update some subnavigations in other places. In News, for example, the left and right padding are dynamic and they are also used in some layout elements.

I'd suggest addressing this after we have implemented these pages in a separate issue so we can keep a consistent behaviour.

https://user-images.githubusercontent.com/4933/192997612-a58a070c-57

[2022-09-29 12:03] beafialho commented on #129
I understand the intent in aligning the font sizes in both navigations and completely support that if you think it works better throughout the whole site. My suggestion would be to make "Download" bold and see if that looks less awkward.

This is happening because the previous version of the header had the "WordPress.org" word mark next to the logo, which made it look like it had independent align

[2022-09-29 12:19] javierarce commented on #129
Perfect, I'll explore this.

Ok, I'll open an issue so we can address this globally.

[2022-09-29 14:31] javierarce commented on #129
I've been digging a bit more into the alignment issue and this is what I found:

I think adjusting that alignment (represented by the solid lines in the image below) would also require modifyng the left and right padding of the content and the footer.

![image](https://user-images.githubusercontent.com/4933/193057292-55164d4e-47d1-4e55-b448-f564807588e1.png)

I did a quick test setting `--wp--cust

[2022-09-29 15:17] ryelle commented on #129
The way the alignment works on News is different from how it works on the new WP.org theme, since they're not actually using the same theme (or `theme.json`). I don't think we have any plans to update News (except for fixing bugs).

This is how I had interpreted your mockup working at larger sizes, since this is how the other WordPress.org pages work:

![Screen Shot 2022-09-29 at 10 46 52](https:/

[2022-09-29 20:00] javierarce commented on #129
Thanks, @ryelle! If News is not going to change in the foreseeable future, the best solution for this sub-navigation would be to make the alignment of these new navigations as close as the ones in News as possible.

In any case, I'm going on holiday for a week and a half, if no one does it before I'm back I'll give it a spin then.

[2022-09-29 20:24] thetinyl commented on #129
A few notes/thoughts around copy for consideration:

For consistency, I'd recommend sticking to sentence case for headlines/subheadlines if possible to match what's been done on the Homepage/Download page (exception for /News article titles).

For the Releases page, I wonder if there's an opportunity to tighten the language/take the "we" out (since it's more product, less community focused). Sugge

[2022-09-29 22:02] javierarce commented on #129
Thanks for the suggestions, @thetinyl! I've updated the copy on the [Figma file](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=2093%3A22538).

If we end up adding the codenames I think we won't need the last sentence ("Curious about which jazzers…") so I removed it.

[2022-10-03 17:40] #109 closed, assigned to nobody

[2022-10-03 18:03] ryelle commented on #129
What still needs design decisions here? Could Neso at least start building the Counter & Release table blocks? We don't need finalized copy for dev - we can move the content into the respective pages, and let writers edit the content directly.

I _think_ the only outstanding issue is the Navigation header alignment, which would be best solved in the editor.

[2022-10-03 21:06] #98 closed, assigned to ryelle

[2022-10-03 21:06] #102 closed, assigned to ryelle

[2022-10-03 21:06] #112 closed, assigned to ryelle

[2022-10-04 06:01] jasmussen commented on #129
Yep, sounds good!

If there are any details, we can always come back in separate tickets. Thank you!

[2022-10-04 15:48] ryelle opened #130 "New Block: Download Counter"
Sub-task of #129

![192815889-4267f152-b754-404c-a954-8f637bfd43e1](https://user-images.githubusercontent.com/541093/193865698-9a4f97e7-a65f-4f86-890d-890a40f181d8.png)

[2022-10-10 09:16] jasmussen commented on #52
Sorry I missed this. Can you expand a little bit on the context? Which page will the modal be invoked from, what's the contents of the modal, and what interface will be necessary for the editor block? Thank you 🙏

[2022-10-10 21:45] adamwoodnz commented on #52
Hi @jasmussen I've added more detail in the description. Let me know if anything doesn't make sense 🙏

[2022-10-11 07:06] jasmussen commented on #52
Ah, thank you that's good context. Not related to this issue, but just seeing the external link indicators next to the links in the modal, are those icons necessary in a webpage where presumably everything is an "external link"?

Regarding the modal:

* Can perhaps leverage much of the modal work done for the block editor's modal package. If not technically, then at least design-wise.
* Should pro

[2022-10-11 13:56] marko-srb opened #133 "News Hero Viewport (action: increase height)"
When I land on News page (both on MacBook and monitor) there is content missing that should be visible on the hero viewport when user lands on this page. Can we fix it so the first view when we land on [News](https://wordpress.org/news/) is as shown below in the screenshots?

To replicate the issue, simply go to [News](https://wordpress.org/news/) page and see where the content is cut.

**Live ver

[2022-10-12 00:25] adamwoodnz commented on #52
Good question! Probably one for the original designer. They're used throughout the home and download pages

![Screen Shot 2022-10-12 at 1 24 36 PM](https://user-images.githubusercontent.com/1017872/195221762-6536f0f3-c71f-44f5-98bb-dec953ccec1a.jpg)

![Screen Shot 2022-10-12 at 1 24 52 PM](https://user-images.githubusercontent.com/1017872/195221782-6e5123f9-0334-403f-8517-2d6b461d6e88.jpg)

[2022-10-12 00:32] adamwoodnz commented on #52
Yeah so hard to say at the moment with Themes and Showcase about to start, then the rest to follow. I feel like the design team will have more idea of whether it'll be a widely used pattern at this point.

Agree that we should start slim and build up as we need to. I'm a little too inexperienced to know how much dev effort will be involved. @ryelle do you have any thoughts on the extremely minimal

[2022-10-12 07:59] jasmussen commented on #52
Ah, I see the pattern now with the separators, the arrows add some nice detail there. Don't mind me.

Right, I was mainly thinking in terms of content. I'll run this by the rest of the group! Thanks.

[2022-10-12 18:27] ryelle commented on #130
Merged into `add/download-subpages` — considering this closed, though it won't be deployed until all the subpages are ready (see #131).

[2022-10-12 18:27] #130 closed, assigned to ryelle

[2022-10-13 20:29] outdoor2kode opened #136 "Preload required font subsets for rosetta sites once we support them"
See https://github.com/WordPress/wporg-main-2022/pull/103/commits/93a44fa9155caad28bc76e46a565cedd6c24bfc6#diff-b4f8b812eb373b4d5dd73ee10679133902227145fb8666a0d87cb282ed5bb51eR67

Currently, we specifically specify the preloaded font subsets as `Latin` for [wporg-main homepage heading](https://github.com/WordPress/wporg-main-2022/pull/103/commits/7696aa3b573a4e0901ac0898f5b4da45e0f36fe0). In the

[2022-10-13 21:22] ryelle commented on #136
@dd32 [suggested](https://github.com/WordPress/wporg-mu-plugins/pull/247#issuecomment-1232425717) adding a translation string so that translators can set the correct subset. There's some prior art with this concept in some older core themes, like [Twenty Seventeen](https://core.trac.wordpress.org/browser/trunk/src/wp-content/themes/twentyseventeen/functions.php#L292) which lets translators disable

[2022-10-13 21:39] outdoor2kode commented on #136
I'll try it at https://github.com/WordPress/wporg-mu-plugins/issues/293 and I might default preloading Latin in mu-plugins as well, probably just preload it inside the function where it's preloaded currently, which is `render_global_header`, since global header seems to exist in every subsite.

[2022-10-13 21:47] ryelle commented on #52
I think you can use your judgement to build something in that spectrum - personally I think the fancy concept would be fun to build, but unless we need it on other pages (seems like no, so far), I wouldn't spend more than a day on it.

[2022-10-13 22:05] #92 closed, assigned to dd32, outdoor2kode

[2022-10-17 16:38] #129 closed, assigned to ryelle

[2022-10-20 17:17] javierarce opened #137 "Update the alignment of the counter page to the center"
When we worked on the design for the Counter page we didn't realize that the counter gets reset on main releases. To make sure the page always looks good we'd like to change the alignment of the title and the number, so it's center-aligned:

![image](https://user-images.githubusercontent.com/4933/197014804-ebd0968e-e903-425e-b1a9-27c74c574317.png)

I tried to do it myself, but I wasn't able to upd

[2022-10-20 17:29] ryelle commented on #137
This has been fixed in https://github.com/WordPress/wporg-main-2022/commit/6b881368d36481d473f55cfcbc3a42aad53573d0 & https://github.com/WordPress/wporg-main-2022/commit/8a419cee6694fe5d704c0b5b4af9b812b241b7b9, I just haven't had time to deploy them yet. I will be able to later today, and I'll comment back here when it's live.

[2022-10-20 20:43] ryelle commented on #137
and it's deployed 🙂  — https://wordpress.org/download/counter/

[2022-10-20 20:43] #137 closed, assigned to nobody

[2022-10-21 07:28] javierarce commented on #137
120M thanks!

[2022-10-21 09:07] javierarce opened #139 "Increase quality of the homepage images"
The images on the home page are a bit blurry, and it would be great to improve their resolution.

I've already added a new version of the "Powerful and empowering" illustration. In the case of the showcase section, instead of loading one big picture, I think we could use a grid of images. To explore that solution, I've created a temporary page [here](https://wordpress.org/?page_id=12852&preview=tr

[2022-10-21 17:04] ryelle commented on #139
The grid of images is a good idea. Nesting the group in another full-width group is the workaround that's already used on the homepage, so I updated it on that page and it's working 👍🏻

I don't see an updated "Powerful and empowering" image when I sync the content, so just make sure you save the update when you swap in the image grid.

[2022-10-24 09:06] jasmussen opened #140 "Unify 404 pages with /news as the baseline"
This is likely going to be a technically difficult challenge, and it isn't one that I would consider a priority. Filing here so it's captured: let me know if this isn't the right repository for this!

The News page has a lovely new 404 page: https://wordpress.org/news/404:

<img width="1392" alt="Screenshot 2022-10-24 at 11 03 41" src="https://user-images.githubusercontent.com/1204802/197489679-82

[2022-10-24 16:05] ryelle commented on #140
It sounds like the goal here is a single 404 template that can be inherited by the other themes, so I'm moving this to the parent theme's repo.

I've also labelled it with needs design, but let me know if you meant to actually copy the News 404.

[2022-10-27 09:10] javierarce commented on #139
Thanks for the help!

I was about to update the homepage with the new grid, but I reverted the change because I noticed that in the preview sometimes the images inside the grid change their height randomly (it happens to me in both Chrome and Firefox).

<img width="1920" alt="Screenshot 2022-10-27 at 11 07 07" src="https://user-images.githubusercontent.com/4933/198242758-72468575-46bd-4790-8f2d-3c

[2022-10-27 09:14] javierarce opened #141 "Replace unicode arrows with images"
I think this is probably related the new macOS version (13.0) but the Unicode arrows we are using on the home page (U+2197 North East Arrow) are being replaced with the emoji version, so we should replace it with images.

<img width="1218" alt="Screenshot 2022-10-27 at 11 10 38" src="https://user-images.githubusercontent.com/4933/198244065-062c449f-0851-4480-9f79-77624e122f1c.png">

[2022-10-27 09:56] javierarce commented on #141
Sorry, I was confused about this. The emojis are showing up in the preview, and not on the published page:

<img width="1226" alt="Screenshot 2022-10-27 at 11 31 00" src="https://user-images.githubusercontent.com/4933/198253498-7b48ce36-bfe9-4f54-9ddc-c0894fa0d72b.png">

I just learned from @jasmussen that there's a replacement script (`wpemojiSettings`) running on the background that is probably

[2022-10-27 10:04] #141 closed, assigned to nobody

[2022-10-27 22:15] ryelle commented on #139
When I preview the post, it's still the big image - can you update the post with the rows so I can test it? I won't be deployed publicly until I sync & deploy it.

[2022-10-28 10:11] beafialho opened #142 "Homepage: Big CTA text should be Light"
As long as the big type remains with this size, this should be the font weight for this CTA, which will be used in other places in the website.

| Site (Regular) | Mockups (Light) |
| ---- | ---- |
| <img width="1234" alt="Captura de ecrã 2022-10-28, às 11 08 09" src="https://user-images.githubusercontent.com/65220155/198562736-13f445d2-c585-47c5-a2a6-990bc952af9b.png"> | <img width="1318" alt="

[2022-10-28 12:02] javierarce commented on #139
Yes, sorry, the homepage is updated now with the stack of images.

[2022-10-28 15:30] ryelle commented on #142
@beafialho Are you able to fix this in the page itself? that content should be editable.

[2022-10-28 15:35] beafialho commented on #142
@ryelle should I edit it in `Main Theme Test 2022`?

[2022-10-28 15:53] ryelle commented on #142
No, you can edit the page at https://wordpress.org/ directly - it won't be public until a dev syncs it, but you can view the changes by previewing the page.

[2022-10-28 17:21] ryelle commented on #139
The only strange size issue I'm seeing is [this image](https://i2.wp.com/wordpress.org/files/2022/10/showcase_thumb_b.png?w=880&ssl=1), which has some extra transparency on the left. Did the images change size after you did something (scroll, hover) or was it like that on page load?

Before we deploy this, those images will need alt text. Also, having 10 links to the same content is not really gre

[2022-10-31 11:55] beafialho commented on #142
I can't seem to edit the site 😕 I probably don't have access

[2022-10-31 14:45] ryelle commented on #142
I should have checked, sorry about that – I added you, so you can edit the page now.

Once you've made that section look how you want it to, I can copy any changes back to the pattern itself for other sites.

[2022-10-31 15:07] beafialho commented on #142
No problem @ryelle, I was not aware of this editing process. Thank you, I've edited the pattern!

For future changes, even small visual ones, do we need to open up an issue here on GH?

[2022-10-31 15:11] ryelle commented on #142
Yeah, any changes still need an issue because a dev is needed to sync the content before it's live for everyone. So I'll sync this change shortly :)

[2022-10-31 16:47] #142 closed, assigned to nobody

[2022-11-01 09:55] javierarce commented on #139
Ok, it's removed.

It happens on page load and it's not consistent. Sometimes I see everything perfect, other times it looks bad.

<img width="1918" alt="Screenshot 2022-11-01 at 10 45 01" src="https://user-images.githubusercontent.com/4933/199206121-5ed30681-a2e9-41ae-8849-9c80021e6a4c.png">

Talking about this with other people and doing some tests we suspect it could be due to the width differe

[2022-11-01 14:59] ryelle commented on #139
I don't think Gutenberg allows that  😕

I noticed this section was also removed, was that intentional? If it stayed, "Find inspiration" could be the showcase link and then there's less need to link all of the images.

<img width="1260" alt="Screen Shot 2022-11-01 at 10 55 55 AM" src="https://user-images.githubusercontent.com/541093/199263774-179a8f2b-e8da-453d-86d9-4f7a2b84db81.png">

[2022-11-01 15:36] desrosj opened #143 "Release table block improvements"
**Describe the bug**
There are a few adjustments that would be great for the release table block.

One thing that I found really confusing was the past releases nav. After a while, I figured out that clicking a past release number was scrolling the page and showing the table for that release. But the heading for the table is hidden behind the blue bar.

**To Reproduce**
Steps to reproduce the beha

[2022-11-01 16:38] javierarce commented on #139
Oh, no, I think I removed it accidentally, sorry 😞

[2022-11-04 13:08] javierarce commented on #139
I have been investigating this problem again, and I have discovered that the problem could be caused by a plugin (maybe Jetpack or a lazy loading plugin).

I did a test on a local site with three images that have the exact same dimensions:

<img width="878" alt="Screenshot 2022-11-04 at 13 46 04" src="https://user-images.githubusercontent.com/4933/199976158-e1215e9e-1b8e-4fea-b448-36cd9c4e629b.png

[2022-11-04 18:19] javierarce commented on #139
That seems to work ok, but I'm having difficulty displaying crisp images. The big original image looked better than having three independent ones. Could you please check that, @ryelle?

In case you need them, the individual images can be exported from [here](https://www.figma.com/file/WHhRwVc4swYnPKdyVWj3du/Home-%26-Download-Pages?node-id=2492%3A21474).

[2022-11-11 11:19] javierarce opened #144 "Highlight selected elements using a bold style"
Pages that use a secondary / local navigation (like the [Beta/Nightly page](https://wordpress.org/download/beta-nightly/) for example) don't highlight the selected item.

Here's a proposed change:

![image](https://user-images.githubusercontent.com/4933/201329209-b8fa78fe-b3ee-4854-9af5-403c02ada4cb.png)

- We use the underline to highlight hovered elements
- We use bold to highlight the current p

[2022-11-11 11:34] javierarce opened #145 "Improve the alignment of navigation items"
The secondary or local navigation is currently centered on the page, following the style of the content below.

For some screen resolution using this system produces off alignments between the global navigation, the local navigation and the content, so I'd like to propose a change in alignment that would make the secondary navigation behave like the global one:

![image](https://user-images.github

[2022-11-11 11:43] javierarce opened #146 "Reduce the font and margin between the local navigation items"
As part of the other improvements for the local navigation ([highlighted style](https://github.com/WordPress/wporg-main-2022/issues/144), and [item alignment](https://github.com/WordPress/wporg-main-2022/issues/145)), we'd like to add two small changes:

- Reduce the font size of the local nav items so they are similar to those of the global one (14px)
- Reduce the margin between the items (from 3

[2022-11-17 20:28] ryelle opened #147 "Apply style updates from Subpage Header Bar pattern"
See https://github.com/WordPress/wporg-parent-2021/commit/40f4a3dba3e477502ca7fbe5a82f986828eb239d

[2022-11-17 21:03] #147 closed, assigned to ryelle

[2022-11-17 21:49] ryelle commented on #139
I think there's a slight difference in how the page preview works vs how the real content is loaded. I've synced across the three separate images, and they look pretty good to me (not blurry, and I'm using a high-dpi monitor). They seem much larger though— 1.55MB, 2.18MB, and 1.66MB compared to the previous image which was a compressed webp, 194 KB.

I've deployed the change (since I also needed t

[2022-11-18 01:38] tellyworth opened #148 "Add About landing page"
Here's the [design](https://www.figma.com/file/W4jJEYbTBLAeMz5GzU1beL/About-Pages?node-id=1%3A2193&t=wTInpVpaFDxkPWG5-0):

| Desktop | Mobile |
|--------|-------|
| <img alt="About Desktop" src="https://user-images.githubusercontent.com/1017872/212790059-eaf080b0-baae-4feb-87e6-f1b63592712f.png"> | <img alt="About Mobile" src="https://user-images.githubusercontent.com/1017872/212790085-a9a973dd-f2

[2022-11-18 01:41] tellyworth opened #149 "Add About page content"
Existing page content needs to be converted to use this design. Most of the work should be doable in the post editor, using styles and blocks that already exist in the theme.

![about-subpages](https://user-images.githubusercontent.com/7200686/202597107-f892d62b-8a76-44e4-b55d-bb2caa6eaf11.png)

[2022-11-18 01:49] tellyworth opened #150 "Add new Enterprise content and design"
This design is still in progress, not yet final.

<img width="1320" alt="enterprise-i4 7" src="https://user-images.githubusercontent.com/7200686/202985191-624f3ef9-e046-4f15-b941-292eb47eea6c.png">

(updated with newer design)

[2022-11-18 05:47] M1racle04 commented on #148
Do you want a landing page like this?  Should I work On this?

[2022-11-18 05:51] M1racle04 commented on #149
Can i work on this?

[2022-11-18 22:09] #136 closed, assigned to outdoor2kode

[2022-11-22 16:59] javierarce commented on #139
Oh, I see, once published they look great. It would be great to reduce the size of the images, I'll see if I can reduce the quality a bit.

[2022-11-29 19:23] bengreeley commented on #150
Final design:
![enterprise-i3 82](https://user-images.githubusercontent.com/7133400/204627653-08afaca1-916f-4a13-9a77-11b8f92f02b3.jpeg)